.logoFont {
    user-select: none;
    font-weight: 700;
    position: relative;
    font-size: 2.2rem;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    color: #402a27;
    display: flex;
    width: 8rem;
}
