.objectDisplay {
    padding-left: 1em;
    border-left: 1px dashed gray;
    position: relative;
    & .entry {
        margin-bottom: 0.5em;
    }

    & .objectWrapper {
        display: flex;
        align-items: center;
        transition: 200ms;
        padding: .25em;
        gap: 0.5em;
    }
}

.expandableText {
    cursor: pointer;
    color: #0077cc;
    text-decoration: underline;
}

.objectWrapper:hover {
    background-color: #333333;
}

.copiedMessage {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.7);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1000;
}

