@media screen and (max-width: 680px) {
    .dashboardContainer {
        flex-direction: row;
    }
}

.desktop {
    background-color: #E3D8D8;
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    .desktopSubcontainer {
        width: 95%;
        height: 95%;
        position: relative;
        margin: auto;
        border-radius: 40px;
        display: flex;
        flex-direction: column;
        > div {
            flex: 1;
        }
        background-color: #FBF8F7;
        box-shadow: 0px 0px 15px 10px rgba(0,0,0,0.20);
    }
}

.mainContent {
    max-height: 100vh;
    overflow: hidden;
    height: 100%;
    margin: 2rem;
    margin-top: 0;
    display: flex;
    > ul {
        padding: 5rem;
    }
    h5 {
        font-size: 1.2rem;
        margin: 0;
    }
}

.userInfos {
    width: 100%;
    font-size: 0.9rem;
    text-align: center;
    color: #ff7954;
    p {
        line-height: 0.5rem;
        margin-bottom: 0;
    }
    .capitalize {
        font-weight: bold;
        line-height: 1rem;
        text-transform: uppercase;
    }
    > img {
        max-width: 100px;
        max-height: 100px;
        width: auto;
        height: auto;
    }
}

.menuContainer {
    display: flex;
    margin: 0 auto;
    margin-right: 3rem;
    max-height: 100vh;
    min-height: 80vh;
    justify-content: center;
    margin-left: 1rem;
    flex-direction: column;
    align-items: center;
}

.row {
    height: auto!important;
    display: flex;
    min-width: 100%;
    > div:last-child {
        margin-top: -0.5rem;
    }
}

.dashboardContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-height: 100vh;
    overflow: auto;
    height: 100%;
    padding: 2rem;
    background-color: #F4EEEF;
    position: relative;
    border-radius: 20px;
    align-content: flex-start;
    .tilesContainer {
        width: 26vw;
    }
    > div {
        height: 100%;
    }
}

.signaturePreview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    > div {
        transform: scale(0.8);
        transform-origin: left;
        margin-right: -3rem;
    }
}

.signatureContainer {
    align-items: center;
    margin-right: 2rem;
    transition: width 1s;
    display: flex;
    background: #fff;
    border-radius: 30px;
    padding: 1.5rem 2.5rem;
    flex-wrap: nowrap;
    overflow: hidden;
}

.h1 {
    color: #402a27;
    flex: 100%;
    font-size: 1.75rem;
}

.spacer {
    max-width: 50%;
    min-width: 45%;
}

.open {
    transition: 1s;
    max-width: 40rem;
    width: 40rem;
}

.closed {
    transition: 1s;
    max-width: 25rem;
    width: 25rem;
}

.eventText {
    display: flex;
    height: auto!important;
    overflow: hidden;
    margin-top: 1rem;
    margin-bottom: 3rem;
    padding: 2rem;
    background: #fff;
    border-radius: 30px;
    > div {
        transform: scale(0.9);
        transform-origin: left;
        display: flex;
        flex-direction: column;
        position: relative;
        font-weight: 600;
        font-size: 0.9rem;
        h5 {
            margin-bottom: 1rem;
        }
        &::before {
            order: 3;
            content: "";
            width: 100%;
        }
        img {
            max-width: 350px;
        }
    }
}

.duration {
    font-weight: 400;
    img {
        margin: 0.5rem 0.5rem 0 0.5rem;
    }
}
