.container {
  background: #FFF;
  padding: 2rem;
  border-radius: 20px;
}

.container h4 {
  color: #FF7954;
  margin-top: 0;
}

.container table {
  width: 100%;
}

.container table th {
  text-align: left;
  font-size: .9rem;
  width: 20%;
}

.container table td {
  font-size: .8rem;
}
