@import "../../../../Assets/style/colors.scss";

.container {
    background: #FFF;
    padding: 2rem;
    border-radius: 20px;
    h4 {
        color: $signally-orange;
        margin-top: 0;
    }
    table {
        width: 100%;
        th {
            text-align: left;
            font-size: .9rem;
            width: 20%;
        }
        td {
            font-size: .8rem;
        }
    }
}