.dashboardContainer {
  width: 100%;
  padding: 2rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container {
  position: fixed;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  right: 0;
  top: 2rem;
  margin-right: 2rem;
  left: 12rem;
  padding: 1rem 5%;
  z-index: 5;
  border-radius: 20px 20px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: none;
  -webkit-backdrop-filter: none;
          backdrop-filter: none;
}

.container h2 {
  font-size: 1.35rem;
  color: #402a27;
  line-height: 0;
}

.searchContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 30rem;
  position: relative;
}

.searchContainer input {
  border: none;
  background: #fff;
  outline: none;
  border-radius: 25px;
  padding: 1rem;
  text-indent: 2rem;
  width: 100%;
}

.searchContainer svg {
  top: 0;
  bottom: 0;
  margin: auto;
  left: 1rem;
  position: absolute;
}

.headerSpan {
  color: #ff7954;
}

.headerSpan a {
  color: #ff7954;
  text-decoration: underline;
}

.add {
  cursor: pointer;
  text-align: center;
  width: 25px;
  line-height: 25px;
  height: 25px;
  color: #fff;
  font-size: 26px;
  border-radius: 50%;
  margin: 0;
  background: #ff7954;
}

.options {
  list-style: none;
  position: fixed;
  right: 1rem;
  top: 2.5rem;
  background: white;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  -webkit-box-shadow: 0px 12px 40px rgba(230, 208, 201, 0.8);
          box-shadow: 0px 12px 40px rgba(230, 208, 201, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.options li {
  font-size: 1rem;
  color: #66433e;
  font-family: "Trebuchet MS";
  padding: 0.5rem 0;
}

.options li a {
  color: #66433e;
}

.options li:not(:last-of-type) {
  border-bottom: 1px solid #66433e22;
}

.name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.name svg:hover {
  cursor: pointer;
  -webkit-filter: brightness(0) saturate(100%) invert(74%) sepia(39%) saturate(5602%) hue-rotate(324deg) brightness(100%) contrast(104%);
          filter: brightness(0) saturate(100%) invert(74%) sepia(39%) saturate(5602%) hue-rotate(324deg) brightness(100%) contrast(104%);
}

.name a {
  font-weight: 600;
  margin-right: 1rem;
  padding: .25rem 1rem;
  border: 1px solid #66433e;
  border-radius: 20px;
  font-size: 0.9rem;
  color: #66433e;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.name a:hover {
  color: #ff7954;
  border-color: #ff7954;
}

@media screen and (max-width: 680px) {
  .dashboardContainer {
    width: 90%;
    padding-top: 1rem;
  }
  .container {
    top: 0;
    -webkit-box-shadow: 0px 12px 40px rgba(230, 208, 201, 0.5);
            box-shadow: 0px 12px 40px rgba(230, 208, 201, 0.5);
    right: 0;
    left: 0;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
    border-radius: 0px;
    background: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
  }
}
