@import "../../assets/style/global";

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    li {
        width: 100%;
        position: relative;
    }
    input[type="checkbox"],
    input[type="radio"] {
        width: 100%;
        height: 100%;
        position: absolute;
        inset: 0;
        cursor: pointer;
    }
    form {
        max-height: 20rem;
    }
}

.open {
    input {
        border-radius: $smallBorderRadius $smallBorderRadius 0 0;
    }
    .inputContainer > svg {
        transform: rotate(-180deg);
    }
}

.inputContainer {
    position: relative;
    display: flex;
    width: 100%;
    input[type="text"] {
        pointer-events: none;
        text-overflow: ellipsis;
        z-index: 6;
        width: 100%;
        font-weight: bold;
        color: $color-dark-accent;
        padding: 0.65rem 2rem .65rem 1rem;
    }
    svg {
        transition: 0.2s;
        cursor: pointer;
        z-index: 7;
        right: 1rem;
        bottom: 0;
        top: 0;
        margin: auto;
        position: absolute;
        color: $color-dark-accent;
    }
}

.splitter {
    font-size: 0.8rem;
    color: $color-primary;
    font-weight: bold;
}

.list {
    position: absolute;
    top: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
    left: 0;
    right: 0;
    z-index: 5;
    margin: 0 auto;
    border: 1px solid $color-light-accent-variation;
    width: 100%;
    background-color: $pureLight;
    box-shadow: 0 5px 5px $color-light-accent-variation;
    border-radius: 0 0 $smallBorderRadius $smallBorderRadius;
    padding: 2.65rem 0 0;
    list-style: none;
    opacity: 0;
    max-height: inherit !important;
    animation: dropDown 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    li {
        margin: 0;
        padding: 1rem 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 0.9rem;
        font-weight: normal;
        color: $color-dark-accent;
        input,
        input + svg {
            opacity: 0;
            color: $color-primary;
        }
        input:checked + svg {
            opacity: 1;
        }
        &:hover,
        &:focus-within {
            transition: 0.2s;
            color: $color-dark-accent;
            background-color: $color-light-accent-variation1;
        }
    }
}

@keyframes dropDown {
    0% {
        opacity: 0;
        max-height: 0;
    }
    25% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        max-height: 100vh;
    }
}
