/* global.scss */
.input {
  transition: 0.2s;
  background: #fff;
  border: 1px solid var(--color-light-accent);
  padding: 1rem;
  font-size: 0.8rem;
  border-radius: var(--small-border-radius);
  margin: 0.5rem 0;
  outline: none;
  font-family: inherit;
}
.input:focus {
  border-color: var(--color-primary);
}
