@import "../../Assets/style/colors";

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    .row {
        display: flex;
    }
    .leftCol {
        width: 60%;
        div {
            margin: auto 0 2rem;
        }
    }
    .rightCol {
        width: 35%;
        margin: 0 0 0 auto;
    }
}

.desktop {
    background-color: $backdrop-color;
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    .desktopSubcontainer {
        width: 95%;
        height: 95%;
        position: relative;
        margin: auto;
        border-radius: $hugeRadius;
        display: flex;
        flex-direction: column;
        > div {
            flex: 1;
        }
        background-color: #fbf8f7;
        box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.2);
    }
}

.mainContent {
    max-height: 100vh;
    overflow: hidden;
    height: 100%;
    margin: 2rem;
    margin-top: 0;
    display: flex;
}

.userInfos {
    width: 100%;
    font-size: 0.9rem;
    text-align: center;
    color: #ff7954;
    p {
        line-height: 0.5rem;
        margin-bottom: 0;
    }
    .capitalize {
        font-weight: bold;
        line-height: 1rem;
        text-transform: uppercase;
    }
    > img {
        max-width: 100px;
        max-height: 100px;
        width: auto;
        height: auto;
    }
}

.menuContainer {
    display: flex;
    margin: 0 auto;
    margin-right: 3rem;
    max-height: 100vh;
    min-height: 80vh;
    justify-content: center;
    margin-left: 1rem;
    flex-direction: column;
    align-items: center;
}

.dashboardContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-height: 100vh;
    overflow: auto;
    height: 100%;
    padding: 2rem;
    background-color: $background-color;
    position: relative;
    border-radius: $borderRadius;
    align-content: flex-start;
    .tilesContainer {
        width: 26vw;
    }
    > div {
        height: 100%;
    }
}
