@import "../../../Assets/style/colors";

.container {
    background: #fff;
    padding: 2rem;
    border-radius: 20px;
    h4 {
        color: $signally-orange;
        margin-top: 0;
    }
    h5 {
        margin: 0.25rem 0;
        width: 5rem;
        font-size: 1rem;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            margin: 0;
            display: flex;
            align-items: center;
            span {
                margin-left: 0.5rem;
                font-size: 0.9rem;
            }
        }
    }
}
