$color-primary: #244EFF;
$color-primary-variant: #5c74b2;
$color-secondary: #FFBE00;
$color-thirdary: #e79388;
$color-dark-accent: #1B335E;
$color-darker-accent: #0F1E4C;
$color-lighter-accent: #F4F7FC;
$background-color: #efeef4;
$backdrop-color: #d8dce3;
$color-light-accent: #E7EEF8;
$color-light-accent-variation: #DDE5F1;
$color-light-accent-variation1: #ECEFF6;
$color-light-accent-variation2: #F3F7FB;
$color-lighter-accent-variation: #F9F5F4;

$smallBorderRadius: 5px;
$borderRadius: 5px;
$mediumBorderRadius: 10px;
$largeBorderRadius: 10px;
$hugeRadius: 20px;



//$color-primary: #ff7954;
//$color-secondary: #ffc300;
//$color-dark-accent: #402927;
//$color-darker-accent: #66433e;
//$color-lighter-accent: #f7f5f5;
//$color-light-accent: #f0e9e9;
//$color-light-accent-variation: #ebe4e1;
//$color-light-accent-variation1: #f4eeef;
//$color-light-accent-variation2: #f8f2f0;