$signally-brown: #402927;
$signally-orange: #ff7954;
$signally-yellow: #ffc300;
$signally-lightgrey: #f0e9e9;
$signally-grey: #f7f5f5;
$signally-darkgrey: #ebe4e1;
$signally-pink: #f4eeef;
$signally-ebony-pink: #66433e;
$signally-isabelline: #f8f2f0;
