/* global.scss */

$color-primary: var(--color-primary);
$color-primary-variant: var(--color-primary-variant);
$color-secondary: var(--color-secondary);
$color-thirdary: var(--color-thirdary);
$color-dark-accent: var(--color-dark-accent);
$color-darker-accent: var(--color-darker-accent);
$color-lighter-accent: var(--color-lighter-accent);
$background-color: var(--background-color);
$outter-background-color: var(--outter-background-color);
$backdrop-color: var(--backdrop-color);
$color-light-accent: var(--color-light-accent);
$color-light-accent-variation: var(--color-light-accent-variation);
$color-light-accent-variation1: var(--color-light-accent-variation1);
$color-light-accent-variation2: var(--color-light-accent-variation2);
$color-lighter-accent-variation: var(--color-lighter-accent-variation);
$pureLight: var(--pure-light);
$pureDark: var(--pure-dark);

$smallBorderRadius: var(--small-border-radius);
$borderRadius: var(--border-radius);
$mediumBorderRadius: var(--medium-border-radius);
$largeBorderRadius: var(--large-border-radius);
$hugeRadius: var(--huge-radius);

$leftColHeight: var(--left-col-height);
$leftColMinHeight: var(--left-col-min-height);
$leftColMaxHeight: var(--left-col-max-height);
$leftColWidth: var(--left-col-width);
$leftColMinWidth: var(--left-col-min-width);
$leftColMaxWidth: var(--left-col-max-width);
