/* global.scss */

$color-primary: var(--color-primary);
$color-primary-variant: var(--color-primary-variant);
$color-secondary: var(--color-secondary);
$color-thirdary: var(--color-thirdary);
$color-dark-accent: var(--color-dark-accent);
$color-darker-accent: var(--color-darker-accent);
$color-lighter-accent: var(--color-lighter-accent);
$background-color: var(--background-color);
$outter-background-color: var(--outter-background-color);
$backdrop-color: var(--backdrop-color);
$color-light-accent: var(--color-light-accent);
$color-light-accent-variation: var(--color-light-accent-variation);
$color-light-accent-variation1: var(--color-light-accent-variation1);
$color-light-accent-variation2: var(--color-light-accent-variation2);
$color-lighter-accent-variation: var(--color-lighter-accent-variation);
$pureLight: var(--pureLight);
$pureDark: var(--pureDark);

$smallBorderRadius: var(--smallBorderRadius);
$borderRadius: var(--borderRadius);
$mediumBorderRadius: var(--mediumBorderRadius);
$largeBorderRadius: var(--largeBorderRadius);
$hugeRadius: var(--hugeRadius);

$leftColHeight: var(--leftColHeight);
$leftColMinHeight: var(--leftColMinHeight);
$leftColMaxHeight: var(--leftColMaxHeight);
$leftColWidth: var(--leftColWidth);
$leftColMinWidth: var(--leftColMinWidth);
$leftColMaxWidth: var(--leftColMaxWidth);