.container {
    color: #402A27;
    width: 90%;
    margin: auto;
}

.active::before {
    position: absolute;
    content: " ";
    width: 10px;
    height: 10px;
    top: 50%;
    transform: translateY(-50%);
    left: -1rem;
    border-radius: 50%;
    background: #4AEE6E;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.status {
    position: relative;
}

.previewContainer {
    padding: 1rem;
    background: #FFF;
    border-radius: 20px;
    display: flex;
    img {
        padding: 1rem;
        padding-top: 0;
        margin-top: 0;
        margin-bottom: auto;
    }
}

.signText {
    * {
        margin: 0;
        padding: 0;
        line-height: 1.5;
    }
    p {
        font-size: 0.8rem;
    }
}

.orangeTxt {
    color: #FF7954;
}
