/* global.scss */
.range {
  height: 6px;
  width: 100%;
  background-color: var(--color-light-accent);
  margin: 1rem 0;
  border-radius: var(--huge-radius);
}

.rangeThumb {
  transition: 0.2s;
  height: 25px;
  width: 25px;
  background-color: var(--color-primary);
  border: 3px solid #FFF;
  border-radius: 50%;
  outline: none;
  box-shadow: 1px 1px 3px var(--color-primary-variant);
}
