/* global.scss */
.selected {
  width: 95% !important;
}

.actionsContainer {
  position: absolute;
  right: 1rem;
  z-index: 2;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}
.actionsContainer svg {
  color: var(--color-dark-accent);
  opacity: 0.6;
}
.actionsContainer svg:first-child {
  font-size: 1rem;
}
.actionsContainer svg:hover {
  color: var(--color-primary);
  opacity: 1;
}
