.container {
  width: 100%;
  position: relative;
}

.inputOptions {
  position: absolute;
  cursor: pointer;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 1rem;
  width: 3.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select {
  font-family: "Montserrat";
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: none;
  outline: none;
  background: #fff;
  border: 1px solid #ff7954;
  border-radius: 5px;
  padding: 1rem;
  width: 50%;
  display: block;
  margin: 2rem auto;
}

.select::-webkit-input-placeholder {
  color: #a87069;
}

.select:-ms-input-placeholder {
  color: #a87069;
}

.select::-ms-input-placeholder {
  color: #a87069;
}

.select::placeholder {
  color: #a87069;
}

.select select:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.span {
  font-size: 0.9rem;
  text-align: left;
  margin-right: auto;
  margin-bottom: 0.5rem;
}

.or {
  margin-left: auto;
  line-height: 1;
}

.optionsContainer {
  background: #FFF;
  border-radius: 0 0 10px 10px;
}

.optionContainer {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  top: -1rem;
  left: -5rem;
  right: auto;
  z-index: 2;
}

.optionContainer button {
  border: none;
  cursor: pointer;
  background: none;
  outline: none;
}

.container input {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background: #fff;
  border: 1px solid #F6F6F6;
  padding: 1rem;
  padding-right: 5rem;
  border-radius: 10px;
  margin: 0.5rem 0;
  font-family: "Montserrat";
  outline: none;
}

.container input:focus {
  border: 1px solid #ff7954;
  -webkit-box-shadow: 0px 12px 40px rgba(230, 208, 201, 0.28);
          box-shadow: 0px 12px 40px rgba(230, 208, 201, 0.28);
}

.colorContainer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  width: 80%;
  padding: .5rem;
  height: 15rem;
  background: #FFF;
  -webkit-box-shadow: 0px 12px 40px rgba(230, 208, 201, 0.8);
          box-shadow: 0px 12px 40px rgba(230, 208, 201, 0.8);
  border-radius: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  bottom: 0;
  left: .25rem;
  margin: auto;
}

.colorContainer input {
  width: 100%;
  padding: .5rem;
}

.colorPreview {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.colorPick {
  width: 100% !important;
  margin: .5 auto;
}

.inputColorSize {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
}

.inputColorSize {
  position: relative;
}

.textStyle {
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  height: 2rem;
  width: 40%;
  margin: 2rem auto 0;
  background-color: #FFF;
  border-radius: 30px;
  -webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
}

.textStyle li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  font-size: .8rem;
  height: 100%;
}

.textStyle li:nth-child(2) {
  border-left: 1px solid;
  border-right: 1px solid;
  -o-border-image: linear-gradient(to top, #FFF 30%, #3d2b28 30%, #3d2b28 70%, #FFF 70%) 1;
     border-image: -webkit-gradient(linear, left bottom, left top, color-stop(30%, #FFF), color-stop(30%, #3d2b28), color-stop(70%, #3d2b28), color-stop(70%, #FFF)) 1;
     border-image: linear-gradient(to top, #FFF 30%, #3d2b28 30%, #3d2b28 70%, #FFF 70%) 1;
}

.textStyle li:hover span {
  color: #ff7954;
}

.textStyle li span {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.textStyle li input {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.textStyle li input:checked ~ span {
  color: #ff7954;
}
