.container {
    color: #66433e;
    max-width: 90%;
    padding-top: 7rem;
    padding-bottom: 7rem;
    margin: auto;
    span {
        font-size: 1rem;
    }
    ul {
        padding: 0;
        list-style: none;
        li {
            display: flex;
            align-items: center;
            width: 100%;
            text-indent: 1.5rem;
            position: relative;
            font-weight: 600;
            font-size: 0.9rem;
            padding: 1rem;
            background: #FFF;
            border-radius: 10px;
            box-shadow: 0px 12px 40px rgba(230, 208, 201, 0.28);
            margin: 1rem 0;
        }
    }
}

.eventText {
    display: flex;
    position: relative;
    flex-direction: column;
}

.duration {
    font-weight: 400;
    img {
        margin: 0.5rem .5rem 0 .5rem;
    }
}

.chevron {
    margin-top: 2px;
    margin-left: auto;
    filter: brightness(0) saturate(100%) invert(25%) sepia(16%) saturate(1236%) hue-rotate(319deg) brightness(93%)
        contrast(82%);
}

.active::before,
.inactive::before {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(75%);
    content: " ";
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.active::before {
    background: #4aee6e;
}

.inactive::before {
    background: #c4c4c4;
}

.open {
    height: 100%;
    li {
        display: flex;
    }
}

.closed {
    height: 0;
    li {
        display: none;
    }
}

/** Calendar **/

.calendarContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    height: 10vh;
    background: #fff;
    width: 100%;
}
