.modal {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  border-radius: 20px;
  width: 30%;
  padding: 0 1rem 1rem;
  z-index: 3;
  left: 15%;
  overflow: hidden;
  text-align: center;
  right: 0;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.288);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.288);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  margin: auto;
}

.modal h4 {
  line-height: 2rem;
}

.modal > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
}

.orangeTxt {
  color: #FF7954 !important;
}

.colheader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
  width: 100%;
}

.colheader button {
  border: none;
  color: #402927;
  background: none;
}

.colheader button:hover {
  color: #FF7954;
  cursor: pointer;
}

.itemsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: auto;
  height: 100%;
  margin-top: 1rem;
  width: 100%;
}

.itemsList li {
  margin: 1rem 0;
  margin-left: auto;
  width: 100%;
  height: 3.5rem;
  -webkit-transition: height 0.2s, width 0.2s;
  transition: height 0.2s, width 0.2s;
  z-index: 2;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.85rem;
  font-weight: 600;
  position: relative;
  background: #f7f5f5;
  border-radius: 10px;
}

.itemsList li .checkbox {
  width: 100%;
  height: 100%;
  top: 0;
  border: none;
  background: none;
  opacity: 0;
  cursor: pointer;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
}

.itemsList li .checkbox:checked ~ span::before {
  content: "";
  position: absolute;
  display: block;
  z-index: -1;
  left: -1rem;
  top: 0;
  z-index: -1;
  bottom: 0;
  margin: auto;
  height: 8px;
  border-radius: 50%;
  width: 8px;
  background: #FF7954;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.itemsList li:hover {
  width: 95%;
  cursor: pointer;
}

.itemsList li > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.itemsList li > div span {
  color: #402927;
}

.itemsList li > div > span > span {
  font-weight: normal;
  font-size: 0.75rem;
}

.editDiv {
  -webkit-animation: fadeIn .2s forwards;
          animation: fadeIn .2s forwards;
  background-color: rgba(255, 255, 255, 0.5);
  padding: .5rem;
  position: absolute;
  border-radius: 10px;
  inset: auto 0;
  bottom: 1rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
}

.editDiv input {
  height: 1rem;
  font-size: .75rem;
}

.editDiv .inputsContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 5;
}

.editDiv .inputsContainer input {
  max-width: 48%;
}

@-webkit-keyframes fadeIn {
  0% {
    height: 0;
  }
  100% {
    height: 7rem;
  }
}

@keyframes fadeIn {
  0% {
    height: 0;
  }
  100% {
    height: 7rem;
  }
}

.editing {
  height: 12rem !important;
}

.actionsContainer,
.actionsContainerAdmin {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: absolute;
  right: 1rem;
  bottom: auto;
  top: 1.5rem;
  z-index: 2;
  width: 2.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.actionsContainer svg,
.actionsContainerAdmin svg {
  color: #402927;
  opacity: 0.6;
}

.actionsContainer svg:first-child,
.actionsContainerAdmin svg:first-child {
  font-size: 1rem;
}

.actionsContainer svg:hover,
.actionsContainerAdmin svg:hover {
  color: #FF7954;
  opacity: 1;
}

.actionsContainerAdmin {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.rename:not(:disabled) {
  z-index: 5;
  background: #fff;
}

.rename {
  margin-bottom: auto;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background: none;
  width: 80%;
  border: none;
  opacity: 1;
  color: #402927;
  font-size: 0.85rem;
  font-weight: 600;
  border-radius: 10px;
  padding: 0.5rem 1rem;
}

.selected {
  width: 95% !important;
}

.groupName {
  color: rgba(64, 41, 39, 0.75) !important;
  padding: 0.25rem 0.75rem;
  padding-top: 0.25rem !important;
  border-radius: 20px;
  background-color: rgba(64, 41, 39, 0.05);
  margin-top: 0.5rem;
  font-weight: 600;
  font-size: 0.6rem !important;
}

.searchInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.searchInput svg {
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0.75rem;
  position: absolute;
}

.search {
  text-indent: 2rem;
  border-radius: 20px;
  width: 100%;
  outline: none;
  border: 1px solid transparent;
  margin: 1rem 0;
  padding: 0.5rem;
  background: #f7f5f5;
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.search:focus {
  border-color: #FF7954;
}
