@import "../../../Assets/style/colors";

.container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 7rem;
    p {
        font-size: 0.9rem;
    }
    h2 {
        text-align: center;
        font-size: 1.5rem;
    }
}

.spaceBe {
    height: 70vh;
    justify-content: space-between;
}

.center {
    text-align: center;
}

.imgContainer {
    position: relative;
    margin-top: 5rem;
}

.whiteBackground {
    top: 10%;
    z-index: -1;
    left: 20%;
    position: absolute;
    width: 180px;
    height: 180px;
    background: #fff;
    border-radius: 50%;
}

.subtitle {
    font-size: 0.9rem;
    width: 100%;
    margin: 1.5rem auto 0 0;
    color: $color-darker-accent;
}

.step {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 0;
    p {
        margin: 0 0 0 3rem;
        font-size: 0.9rem;
        line-height: 1.5rem;
    }
}

.stepNumber {
    position: absolute;
    flex: 32px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background: #ffcc20;
    span {
        width: 32px;
        line-height: 32px;
        text-align: center;
        color: #fff;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.greyContainer {
    width: 100%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 10px;
    background: #f8f1f0;
}

.whiteContainer {
    position: relative;
    display: flex;
    box-shadow: 0 12px 40px rgba(230, 208, 201, 0.28);
    border-radius: 10px;
    padding: 1.5rem 1.5rem 3.5rem;
    margin-bottom: 2.5rem;
    background: #fff;
    width: 100%;
    h3 {
        margin: 0;
        font-size: 1.2rem;
        color: #ff7954;
    }
    h4 {
        line-height: 2;
        margin: 0;
        font-size: 1.3rem;
        color: $color-darker-accent;
    }
    img {
        position: absolute;
        right: 0;
        top: -1rem;
    }
}

.textContainer {
    span {
        font-size: 0.8rem;
    }
}

.priceContainer {
    display: flex;
    align-items: baseline;
    position: absolute;
    bottom: -1.6rem;
    max-width: 60%;
    color: #fff;
    padding: 0.75rem;
    border-radius: 30px;
    background: #402a27;
    .price {
        font-size: 1.5rem;
        font-weight: bold;
    }
    .perMonth {
        margin-left: 0.5rem;
        font-size: 0.8rem;
    }
}

.listAdvantages {
    list-style: none;
    margin-top: 0;
    li {
        color: $color-darker-accent;
        font-weight: 600;
        font-size: 0.9rem;
        margin: 1rem 0;
        display: flex;
        align-items: center;
    }
    .listStyle {
        margin-right: 0.5rem;
    }
}
