@import "../../../../Assets/style/colors.scss";

.container {
    display: flex;
    flex-wrap: wrap;
    height: 90%;
    h1 {
        width: 100%;
    }
}

.infosContainer {
    background-color: #fff;
}

.overflow {
    max-width: 50%;
    width: 100%;
    min-height: 100%;
    height: 100%;
    .signaturePreview {
        width: auto;
        height: 100%;
    }
}

.teamsContainer {
    background-color: #fff;
    border-radius: 20px;
    min-width: 25rem;
    margin-bottom: 1rem;
    max-width: 45%;
    width: 100%;
    margin-right: 2rem;
    padding: 2rem;
    position: relative;
    height: 100%;
    ul {
        padding: 0;
        list-style: none;
    }
    > div {
        display: flex;
        flex-direction: column;
        height: 95%;
        > span,
        > div > span {
            color: grey;
            font-size: 0.9rem;
        }
    }
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 2rem;
    li {
        width: 33%;
        margin: 0 auto;
        text-align: center;
        a {
            color: $signally-brown;
        }
        cursor: pointer;
    }
    li::after {
        content: " ";
        display: block;
        width: 60%;
        margin: auto;
        height: 2px;
        margin-top: 0.5rem;
    }
}

.menu ~ div {
    overflow: auto;
}

.active { 
    color: $signally-orange;
    a {
        transition: 0.2s;
        color: $signally-orange!important;
    }
    &::after {
        transition: 0.2s;
        background-color: $signally-orange;
    }
}

.itemsList {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;
    margin-top: 1rem;
    width: 25rem;
    li {
        margin: 0.5rem 0;
        margin-left: auto;
        width: 100%;
        transition: 0.2s;
        z-index: 2;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        font-size: 0.85rem;
        font-weight: 600;
        position: relative;
        background: #f7f5f5;
        border-radius: 10px;
        &::before {
            content: "";
            display: block;
            position: absolute;
            left: 0rem;
            top: 0;
            z-index: -1;
            bottom: 0;
            margin: auto;
            height: 4px;
            border-radius: 50%;
            width: 4px;
            background: transparent;
            transition: 0.2s;
        }
        &:hover {
            width: 95%;
            cursor: pointer;
        }
        &:focus-within {
            width: 95%;
            &::before {
                content: "";
                display: block;
                left: -1em;
                height: 8px;
                width: 8px;
                background: $signally-orange;
            }
        }
        > div {
            display: flex;
            justify-content: space-between;
            > span > span {
                font-weight: normal;
                font-size: 0.75rem;
                text-decoration: underline;
            }
        }
    }
}

.groupName {
    color: $signally-orange !important;
    border-radius: 20px;
    font-weight: normal;
    font-size: 0.75rem;
}

.infos {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 0.25rem;
}

.orangeTxt {
    color: $signally-orange;
}

.teamAssignment {
    background-color: #fff;
    border-radius: 20px;
    padding: 2rem;
    margin-bottom: auto;
    h2 {
        font-size: 1.2rem;
        margin-bottom: 2rem;
        margin-top: 0;
    }
    > div {
        margin-bottom: 1rem;
    }
    .groupName {
        font-weight: 600;
    }
    > span {
        color: grey;
        padding-top: 0.5rem;
        font-size: 0.8rem;
    }
}

.teamAssignment {
    flex-direction: row !important;
    height: 100%;
    overflow: auto;
    ul {
        padding: 0;
    }
    .search {
        margin: 0;
    }
    .col span {
        color: grey;
        padding-top: 0.5rem;
        font-size: 0.8rem;
    }
}

.users {
    overflow: initial;
    li::before {
        content: "";
        display: block;
        position: absolute;
        left: -1em;
        height: 8px;
        border-radius: 50%;
        width: 8px;
        background: $signally-orange;
    }
}

.searchInput {
    display: flex;
    position: relative;
    svg {
        top: 0;
        bottom: 0;
        margin: auto;
        left: 0.75rem;
        position: absolute;
    }
}

.search {
    text-indent: 2rem;
    border-radius: 20px;
    width: 100%;
    outline: none;
    border: 1px solid transparent;
    margin: 1rem 0;
    padding: 0.5rem;
    background: #f7f5f5;
    display: block;
    transition: 0.2s;
    &:focus {
        border-color: $signally-orange;
    }
}
