@import "../../../Assets/style/colors.scss";

@media screen and (max-width: 680px)
{
    .container {
        padding-bottom: 10rem;
        min-height: 100vh;
        padding-top: 2rem;
        position: relative;
        margin: auto;
    }
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    h1 {
        flex: 100%;
        margin-left: .5rem;
        color: $signally-brown;
        font-size: 1.75rem;
    }
}

.tilesList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.tile {
    * {
        font-family: "Montserrat";
        color: $signally-brown;
        margin: 0;
        padding: 0;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 48%;
    flex: 48%;
    max-width: 48%;
    padding: 1rem 1rem;
    border-radius: 10px;
    margin: .5rem 0;
    background: #FFF;
    box-shadow: 0px 20px 20px rgba(206, 142, 124, 0.15);
    &:first-of-type {
        background-color: $signally-orange;
        * {
            color: #FFF;
        }
    }
    &:nth-of-type(2) {
        background-color: $signally-yellow;
        * {
            color: #FFF;
        }
    }
    p, span {
        font-size: 1rem;
        font-weight: 400;
    }
    p {
        line-height: 2.5;
    }
}

.syncTile {
    perspective: 1000px;
    position: relative;
    height: 6rem;
    transition: transform 0.1s;
    flex: 100%;
    width: 100%;
    h4 {
        font-size: 1.2rem;
        line-height: 2rem;
        vertical-align: middle;
    }
}

.rotating {
    animation:spin 4s linear infinite;
}

.syncContainer {
    position: relative;
}

.syncBtn {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}

.syncTileInner {
    position: relative;
    width: 100%;
    min-height: 7rem;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.fliping {
    transform: rotateY(180deg);
}

.syncFront, .syncBack{
    position: absolute;
    width: 100%;
    padding: 1rem;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

  .syncBack {
      background: red;
    transform: rotateY(180deg);
  }

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.billingTile {
    background: $signally-brown!important;
    * {
        color: #FFF;
    }
}

.bigTxt {
    line-height: 1.5;
    font-size: 2.5rem!important;
    font-weight: 600!important;
}

.free {
    line-height: 3rem;
    font-size: 1.2rem!important;
    font-weight: 600!important;
}

.row {
    display: flex;
    width: 100%;
    height: 100%;
    max-height: 40%;
    align-items: baseline;
    justify-content: space-between;
}

.blackImg {
    filter: contrast(0)
}

.watermark {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    line-height: 28px;
    color: rgba(101, 68, 62, 0.03);
}

.syncContainer {
    padding: 2rem 0 0rem 0;
}

.activeSpan {
    text-transform: uppercase;
    font-weight: 600!important;
    font-size: .8rem!important;
}

.fliping {
    transform: rotateY(180deg);
}
