@import "../../../../Assets/style/colors.scss";

.container {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.container > div {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    position: relative;
    flex-direction: column;
    align-items: center;
    h1 {
        font-size: 2.25rem;
        max-height: 1.6rem;
        margin-right: auto;
    }
}

.modal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 20px;
    width: 25%;
    height: 13rem;
    padding: 0 1rem 1rem;
    z-index: 3;
    inset: 0;
    margin: auto;
    left: 15%;
    text-align: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.288);
    backdrop-filter: blur(10px);
    margin: auto;
    .slidesContainer {
        position: relative;
        width: 200%;
        height: 100%;
        overflow: auto;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
    }
    .slide {
        min-width: 100%;
        display: flex;
        flex-direction: column;
        margin: auto;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    h4 {
        line-height: 1rem;
    }
    .slide > div {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        button {
            margin: 1.5rem 0.5rem 0 !important;
        }
    }
    .orangeTxt {
        color: $signally-orange;
    }
}

.btnTemplate {
    cursor: pointer;
    transition: 0.2s;
    margin-bottom: 1rem;
    display: flex;
    margin-left: auto;
    justify-content: space-evenly;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    color: $signally-brown;
    background: none;
    &:hover {
        color: $signally-orange;
    }
    svg {
        font-size: 1.2rem;
        margin-left: 0.65rem;
    }
}

.row {
    height: 100%;
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.options {
    position: relative;
    min-height: 65vh;
    max-height: 65vh;
    overflow: auto;
    background: #fff;
    border-radius: 20px;
    width: 40%;
    min-width: 15rem;
    padding-top: 5.5rem;
}

.tabsContainer {
    width: 100%;
    margin: auto;
    margin-top: 1.5rem;
    display: flex;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    padding-bottom: 1rem;
    position: absolute;
    justify-content: center;
    align-items: center;
    > button {
        margin-right: -15%;
        margin-left: 5%;
        border: none;
        outline: none;
        background: none;
        color: $signally-brown;
        cursor: pointer;
        &:hover {
            color: $signally-orange;
        }
    }
    .switchTabs {
        cursor: pointer;
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 40%;
        height: 3rem;
        * {
            -webkit-tap-highlight-color: transparent;
            user-select: none;
            outline: none;
        }
    }
    // input:not(:checked) + .sliderTabs:before {
    //     left: 0%;
    //     width: 50%;
    // }
    input:not(:checked) + .sliderTabs:before {
        transform: translateX(0);
    }
    input:checked + .sliderTabs:before {
        transform: translateX(100%);
    }
    // input:checked + .sliderTabs:before {
    //     width: 50%;
    //     left: 41.5%;
    // }
    .switchTabs input {
        outline: none;
        opacity: 0;
        position: absolute;
        width: 0;
        height: 0;
    }

    .tabTitles {
        width: 100%;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        padding: 6%;
        height: 100%;
        display: flex;
        align-items: center;
        position: absolute;
        z-index: 2;
        justify-content: space-between;
        span {
            width: 50%;
            line-height: 4.5rem;
            color: $signally-ebony-pink;
            font-size: 0.85rem;
            font-weight: bold;
        }
    }

    .sliderTabs {
        height: 100%;
        width: 100%;
        position: relative;
        cursor: pointer;
        background-color: $signally-isabelline;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        border-left: 12px solid $signally-isabelline;
        border-right: 12px solid $signally-isabelline;
    }

    .sliderTabs:before {
        position: absolute;
        content: "";
        height: 65%;
        width: 50%;
        bottom: 0;
        left: 0;
        top: 0;
        margin: auto;
        margin-left: 0;
        margin-right: auto;
        background-color: white;
        transition: 0.4s;
    }
    .sliderTabs {
        border-radius: 30px;
    }

    .sliderTabs:before {
        border-radius: 30px;
    }
}

.col {
    display: flex;
    flex-direction: column;
    width: 55%;
    .CTAsContainer {
        width: 100%;
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;
        button {
            margin: 0;
        }
    }
    .hide {
        opacity: 0;
        pointer-events: none;
    }
    .blinking {
        animation: blink 1s infinite;
    }
    button:hover svg {
        stroke: #fff !important;
    }
}

.confirm {
    width: 15rem;
    min-width: 15rem;
    transition: min-width 1s !important;
    display: flex;
    align-items: center;
    span {
        margin-right: 1rem;
    }
    &:hover {
        background-color: #fff !important;
        cursor: default !important;
        button {
            cursor: pointer;
        }
    }
    .noBgBtn {
        background: $signally-brown;
        padding: 0.15rem 0.75rem !important;
        border: $signally-brown;
        border-radius: 20px;
        color: #fff;
        margin-left: 1rem;
    }
    button {
        border: none;
        background: none;
        color: $signally-orange;
        padding: 0;
        margin: 0;
        font-size: 1.1rem;
        display: flex;
        align-items: center;
        margin-left: 0.25rem;
        &:last-child {
            color: $signally-brown;
        }
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.signatureContainer {
    display: flex;
    width: 100%;
    padding: 1rem;
    padding-top: 0.25rem;
    flex-direction: column;
    background-color: #fff;
    height: fit-content;
    border-radius: 20px;
    .browserHeader {
        width: 100%;
        height: 1.75rem;
        margin-bottom: 0.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .btnsContainer {
            display: flex;
            justify-content: space-between;
            width: 2.85rem;
            list-style: none;
            padding: 0;
            > li {
                min-width: 10px;
                min-height: 10px;
                border-radius: 50%;
            }
            .close {
                background: $signally-orange;
            }
            .reduce {
                background: #ffbd44;
            }
            .fullscreen {
                background: #00ca4e;
            }
        }
        input {
            margin-left: 1rem;
            width: 100%;
            text-indent: 0.5rem;
            height: 1.5rem;
            font-size: 0.7rem;
            color: grey;
            border-radius: 10px;
            border: none;
        }
    }
    .lazyLoadingLong,
    .lazyLoadingShort,
    .lazyLoadingMedium {
        border-radius: 20px;
        background: #f1f1f1;
        width: 100%;
        height: 1rem;
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
        margin-right: auto;
    }
    .lazyLoadingShort {
        width: 40%;
    }
    .lazyLoadingMedium {
        width: 70%;
    }
    p {
        font-size: 0.8rem;
    }
}

/** Tab 2 **/

.tabContent {
    display: flex;
    position: relative;
    width: 95%;
    height: 100%;
    overflow: auto;
    margin: auto;
    flex-direction: column;
    align-items: center;
    color: #402a27;
    text-align: center;
    padding: 0;
    > div {
        padding: 5%;
    }
    textarea {
        width: 100%;
        resize: vertical;
    }
    hr {
        height: 1px;
        background: none;
        width: 100%;
        border: none;
        border-top: 1px solid rgba(101, 68, 62, 0.14);
        margin: 2rem 0;
    }
    .span {
        font-size: 0.9rem;
        text-align: left;
        margin-right: auto;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }
}

.uploadedFile {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    svg {
        right: 1rem;
        top: 0;
        bottom: 0;
        margin: auto;
        position: absolute;
        z-index: 3;
    }
}

.rangeUpload {
    flex: 100%;
    background: #fff;
    width: 100%;
    border-radius: 10px;
}

.placeholderImg,
.placeholderBanner {
    background: rgba(184, 184, 184, 0.596);
    border-radius: 10px;
    margin-right: 40%;
    height: 38px;
    flex: 100%;
    margin-bottom: 1rem;
}

.placeholderBanner {
    margin-top: 1rem;
    margin-bottom: 0;
    margin-right: 0;
}

.input {
    background: none;
    border: none;
    outline: none;
}

.optionContainer {
    margin: auto;
}

.switch {
    * {
        -webkit-tap-highlight-color: transparent;
        user-select: none;
        outline: none;
    }
    transform: scale(0.6) translateX(30%);
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: $signally-orange;
}

input:focus + .slider {
    box-shadow: 0 0 1px $signally-orange;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.iconsContainer {
    margin-top: 0.5rem;
    width: 100%;
    max-width: 100%;
    background: #fff;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .borderInput {
        transition: 0.2s;
        background: #fff;
        border: 1px solid $signally-grey;
        padding: 1rem;
        padding-right: 5rem;
        border-radius: 10px;
        margin: 0.5rem 0;
        font-family: "Montserrat";
        outline: none;
    }
    label:first-of-type {
        font-size: 0.85rem;
    }
    label {
        margin: 0;
        color: #000 !important;
    }
}

.topBannerContainer {
    .fileUpload {
        width: auto;
        max-width: 60%;
        max-height: 1rem;
        input {
            top: 0;
        }
        span {
            font-size: 0.8rem;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        svg {
            left: auto;
            right: -1.5rem;
        }
    }
    flex-wrap: nowrap;
}

.reorganizeSocials {
    display: flex;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
    div {
        cursor: move;
    }
}


.orangeTxt {
    color: $signally-orange;
}