@import '../../../Assets/style/colors.scss';

.container {
    p, input {
        color: $signally-brown;
    }
    margin-bottom: auto;
    min-width: 55%;
    border-radius: 20px;
    padding: 1rem 2rem 1rem 2rem;
    max-height: 95%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    background-color: #fff;
    .tagLine {
        text-align: center;

    }
    p {
        font-size: .75rem;
        text-align: justify;
    }
    h3 {
        color: $signally-orange
    }
    h4 {
        font-size: 1rem;
        margin: 0;
        color: $signally-orange;
    }
    h4 ~ div {
        margin-top: .5rem;
        max-width: 55%;
    }
    select {
        transition: 0.2s;
        background: #fff;
        width: 55%;
        border: 1px solid $signally-lightgrey;
        padding: 1rem;
        border-radius: 10px;
        margin: 0.5rem 0;
        outline: none;
        font-family: inherit;
    }
}

.row
{
    display: flex;
    width: 100%;
    height: 85%!important;
    img {
        width: auto;
        height: 100%;
        margin: auto;
    }
} 

.actionsContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    width: 60%;
    margin-top: 1rem!important;
    button {
        margin-left: 0;
    }
}
