.logoFont {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: 700;
  position: relative;
  font-size: 2rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #402A27;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 7rem;
}

.dot {
  position: absolute;
  bottom: .35rem;
  right: -.35rem;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #FF7954;
}

@media screen and (max-width: 1000px) {
  .logoFont {
    font-size: 1.5rem;
    font-weight: 400;
    width: 5.2rem;
  }
  .dot {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}
