.active {
    position: relative;
    filter: invert(56%) sepia(98%) saturate(1084%) hue-rotate(323deg) brightness(99%) contrast(104%);
    &::after {
        position: absolute;
        content: " ";
        background: #ff7954;
        width: 5px;
        bottom: 0px;
        left: 50%;
        transform: translate(-50%, 0);
        height: 5px;
        border-radius: 50%;
    }
}

.tabMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
    li {
        font-size: 5rem;
        img {
            width: 1.85rem;
        }
    }
}

.event {
    position: relative;
    & :hover span {
        color: #66433e;
    }
    span {
        font-weight: 600;
        color: #66433e;
        text-align: center;
        right: 0;
        left: 0;
        bottom: 1.55rem;
        margin: auto;
        font-size: .7rem;
        position: absolute;
    }
}

@media screen and (max-width: 680px) {
    .active &::after {
        bottom: -5px;
    }
    .tabMenu {
        position: fixed;
        flex-direction: row;
        z-index: 2;
        background: #fff;
        bottom: 0;
        width: 100%;
        margin-bottom: 0;
        padding-bottom: 2rem;
        padding-top: 1rem;
        border-radius: 20px 20px 0 0;
        li {
            font-size: 0.8rem;
        }
    }
}
