// @use '../../themes/_variables.scss' as colors;

@import "../../../Assets/style/colors.scss";

// @import url('../../themes/_form.scss');
// @import '../../themes/mixins';

.container {
    display: flex;
    flex-direction: row-reverse;
    padding: 2rem;
    padding-top: 5rem;
    // min-height: 70vh;
    height: 70vh;
    max-width: 95%;
    justify-content: center;
    margin: auto;
    align-items: center;
    position: relative;
    p,
    label {
        font-size: 0.9rem;
    }
    img {
        max-width: 25rem;
        margin-right: 1rem;
    }
    form {
        width: 100%;
        padding: 16px;
    }

    input[type="text"]:focus,
    input[type="email"]:focus,
    input[type="password"]:focus {
        box-shadow: 0px 12px 40px rgba(230, 208, 201, 0.28);
        border: 1px solid $signally-orange;
    }
}

.showPassword {
    position: absolute;
    outline: none;
    border: none;
    background: none;
    top: 8px;
    right: 8px;
    cursor: pointer;
    padding: 0;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.inputContainer .inputTitle {
    margin-bottom: 6px;
    color: #402a27;
}

.slider {
    display: flex;
    width: 35%;
    overflow: hidden;
    justify-content: space-between;
}

.formContainer {
    min-width: 100%;
    display: flex;
    background-color: #fbf4f2;
    border-radius: 6px;
    align-items: center;
    font-family: Montserrat;
    flex-direction: column;
    height: 100%;
    margin: auto;
    padding: 2rem;
    &:first-child {
        margin-right: 1rem;
    }
}

.btnsContainer {
    display: flex;
    width: 100%;
    button:first-child {
        background: none;
    }
}

.codeContainer {
    > div {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }
    input {
        width: 100%;
    }
    // input {
    //     transition: 0.2s;
    //     width: 3rem;
    //     border-radius: 10px;
    //     padding: .5rem 0;
    //     display: flex;
    //     text-align: center;
    //     align-items: center;
    //     justify-content: center;
    //     margin-bottom: 1.5rem;
    //     border: 1px solid $signally-grey;
    //     background-color: none;
    //     outline: none;
    //     box-shadow: none;
    //     font-size: 2rem;
    // }
}

.formContainer h2 {
    text-align: center;
    font-family: Trebuchet MS;
    color: #402a27;
    margin-top: 0;
    font-size: 1.3rem;
}

.formContainer h2 span {
    color: $signally-orange;
    text-decoration: underline;
}

.textIllustration {
    display: flex;
    width: 60%;
    margin-right: 2rem;
    flex-direction: column;
    justify-content: space-between;
}

.textIllustration h1 {
    color: #402a27;
}

.textIllustration p {
    color: $signally-brown;
}

.textIllustration p span {
    color: $signally-orange;
    font-weight: bold;
}

.textIllustration img {
    height: 90%;
    margin-left: -45px;
}

.slogan {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footerSlogan {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer__logo {
    height: 20px;
    width: 20px;
    // background-color: colors.$yellow;
    border-radius: 6px;
    padding: 6px;
    display: flex;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
}

.footer__logo img {
    margin: 0 !important;
}
