// @use '../../themes/_variables.scss' as colors;

@import "../../../Assets/style/colors.scss";

// @import url('../../themes/_form.scss');
// @import '../../themes/mixins';

.loading {
    animation: spin 1s 0s infinite linear forwards;
    stroke-width: 55px!important;
}

@keyframes spin { 
    from { 
        transform: rotate(0deg); 
    } to { 
        transform: rotate(360deg); 
    }
}

.container {
    display: flex;
    flex-direction: row-reverse;
    // min-height: 70vh;
    padding-top: 1rem;
    height: 80vh;
    max-width: 95%;
    justify-content: center;
    margin: auto;
    align-items: center;
    position: relative;
    h1 {
        font-size: 1.8rem;
    }
    p,
    label {
        font-size: 0.9rem;
    }
    .plugins {
        max-width: 40%;
        margin-left: -2px;
    }
    .takeoff {
        max-width: 25vw;
        margin-right: 1rem;
    }
    form {
        width: 100%;
    }
    input::placeholder {
        opacity: 0.25;
    }
    input[type="text"]:focus,
    input[type="email"]:focus,
    input[type="password"]:focus,
    select:focus {
        box-shadow: 0px 12px 40px rgba(230, 208, 201, 0.28);
        border-color: $signally-orange;
    }
    select {
        padding: 0.9rem;
        margin-top: -0.35rem;
        outline: none;
        border-radius: 10px;
        width: 100%;
        border-color: transparent;
    }
}

.descriptionBeta {
    max-width: 60%;
    overflow: auto;
    p {
        font-size: 1.1rem;
    }
    div {
        display: flex;
        flex-direction: column;
        img:first-child{
            margin-bottom: .5rem;
        }
    }
}

.inputs {
    display: flex;
    width: 100%;
    justify-content: space-between;
    .inputContainer {
        width: 48%;
    }
}

.logInContainer {
    // animation: fadeIn 1.5s forwards ease-in;
    // animation-delay: 500ms;
    // opacity: 0;
    margin: auto;
    align-items: center;
    min-width: 40%;
    h2 {
        margin-bottom: 2rem;
    }
    > .slider > .formContainer button {
        margin-top: 2rem;
    }
}

.registerContainer,
.logInContainer {
    display: flex;
    max-height: 100%;
    max-width: 100vw;
    justify-content: space-between;
    > .formContainer {
        min-width: 40% !important;
        max-width: 48%;
        margin: 0;
    }
    input {
        width: 100%;
        font-weight: bold;
    }
    .inputContainer {
        > div {
            position: relative;
        }
    }
    .textIllustration {
        margin: 0;
    }
}

.spacing {
    height: 1rem;
}

.error p {
    font-size: 0.7rem;
    margin-top: 1rem;
    text-align: center;
}

.showPassword {
    display: flex;
    align-items: center;
    position: absolute;
    outline: none;
    border: none;
    background: none;
    right: 1rem;
    cursor: pointer;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 0;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    & > div {
        width: 100%;
    }
}

.inputContainer .inputTitle {
    margin-bottom: 6px;
    color: #402a27;
}

.slider {
    display: flex;
    width: 40%;
    overflow: hidden;
    justify-content: space-between;
}

.registerContainer .formContainer {
    button svg {
        animation: spin 1s infinite linear;
    }
}


.formContainer {
    min-width: 100%;
    overflow: auto;
    display: flex;
    background-color: #fbf4f2;
    border-radius: 8px;
    align-items: center;
    font-family: Montserrat;
    flex-direction: column;
    height: 100%;
    max-height: 80vh;
    margin: auto;
    padding: 2rem;
    &:first-child {
        margin-right: 1rem;
    }
}

.btnsContainer {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    padding: 0 2rem;
    margin: auto;
    justify-content: space-around;
    button {
        margin: 0;
        margin-top: 2rem;
    }
    button:last-child:not(:hover) {
        background: none;
    }
}

.codeContainer {
    > div {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }
    input {
        width: 100%;
    }
}

.formContainer h2 {
    text-align: center;
    font-family: Trebuchet MS;
    color: $signally-brown;
    margin-top: 0;
    font-size: 1.3rem;
}

.formContainer h2 span {
    color: $signally-orange;
}

.textIllustration {
    display: flex;
    flex-direction: row-reverse;
    width: 60%;
    margin-right: 2rem;
    align-items: center;
    // flex-direction: column;
}

.textIllustration h1 {
    color: $signally-orange;
    margin-bottom: 2rem;
}

.textIllustration p {
    color: $signally-brown;
}

.textIllustration p span {
    color: $signally-orange;
    font-weight: bold;
}

.textIllustration .takeoff {
    height: auto;
    margin-left: -45px;
}

.congrats {
    width: 100%;
    margin: auto;
    max-width: 30%;
    font-size: 1.25rem;
    * {
        opacity: 0;
        animation: fadeIn ease 2s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    p {
        font-size: 1.15rem;
        animation-delay: 0.75s;
    }
    h2 {
        color: $signally-orange;
    }
}

.disappear {
    opacity: 1;
    animation: fadeOut ease 0.25s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.forgot {
    font-size: .8rem;
    margin-left: auto;
    padding-right: .5rem;
    text-align: right;
    width: 100%;
    display: flex;
    justify-content: right;
    cursor: pointer;
    color: $signally-brown;
    &:hover {
        color: $signally-orange;
    }
}

.modal {
    padding: 2rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 40px rgba($signally-brown, 0.3);
    border-radius: 20px;
    inset: 0;
    width: 25rem;
    height: 15rem;
    z-index: 10;
    margin: auto;
    background: #FFF;
    p {
        line-height: 1.5rem;
        text-align: center;
        .orangeTxt {
            color: $signally-orange;
            font-weight: bold;
            display: inline;
        }
    }
    .btnsContainer {
        margin-top: 0rem;
        button {
            margin-top: 1rem;
        }
    }
}