.active {
  position: relative;
}

.active * {
  color: #FF7954 !important;
}

.active label {
  color: #FF7954 !important;
  display: block !important;
}

.tabMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none;
  align-items: center;
  width: 100%;
  padding: 0;
}

.tabMenu li {
  position: relative;
  font-size: 4rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabMenu li svg {
  width: 2rem !important;
  height: 2rem !important;
}

.tabMenu li * {
  color: #402927;
}

.tabMenu li label {
  font-size: 0.7rem;
  text-align: center;
  position: absolute;
  font-weight: bold;
  bottom: -0.25rem;
  left: 0;
  right: 0;
  margin: auto;
  text-transform: uppercase;
  display: none;
}
.tabMenu li:hover label {
  display: block;
}

.event {
  position: relative;
}

.event :hover span {
  color: #66433e;
}

.event svg {
  font-size: 1rem;
}

.event span {
  font-weight: 600;
  color: #66433e;
  text-align: center;
  right: 0;
  left: 0;
  bottom: 1.40rem;
  margin: auto;
  font-size: .7rem;
  position: absolute;
}

@media screen and (max-width: 680px) {
  .active ::after {
    bottom: -5px;
  }
  .tabMenu {
    position: fixed;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    z-index: 2;
    background: #fff;
    bottom: 0;
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 2rem;
    padding-top: 1rem;
    border-radius: 20px 20px 0 0;
  }
  .tabMenu li {
    font-size: 0.8rem;
  }
}
