.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    min-height: 60vh;
    width: 90%;
}
.container input,
.container label,
.container span {
    font-family: "Montserrat";
    outline: none;
}
.container label {
    font-size: 0.9rem;
}
.container span {
    line-height: 1.75;
    font-size: 0.8rem;
    text-align: center;
}
.container span a {
    color: #ff7954;
}
.container input[type="checkbox"] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.saveCard {
    position: relative;
}
.saveCard label {
    margin-left: 1.5rem;
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    margin-bottom: 1rem;
}
.header div {
    display: flex;
}
.header h2 {
    text-indent: 1rem;
    font-size: 1rem;
}

.cardHolder {
    transition: 0.2s;
    background: #fff;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 1rem;
    width: 100%;
    outline: none;
}
.cardHolder:focus {
    border: 1px solid #ff7954;
    box-sizing: border-box;
    box-shadow: 0px 12px 40px rgba(230, 208, 201, 0.28);
}

.cardInfos {
    margin: 1rem 0;
    position: relative;
    display: flex;
    align-items: center;
    padding: 1rem;
    background: #fff;
    border-radius: 10px;
}

input:focus .cardInfos {
    border: 1px solid #ff7954;
}

.cardContainer {
    width: 100%;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.checkmark {
    position: absolute;
    top: 5px;
    left: 0;
    height: 15px;
    width: 15px;
    border: 1px solid #ff7954;
}

.checkmark:after {
    left: 4px;
    top: 2px;
    width: 3px;
    height: 6px;
    border: solid #ff7954;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.activated {
    margin: 1.5rem 0;
    background: #ff7954;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 100px;
    outline: none;
    width: 100%;
    padding: 1rem 0;
    font-weight: bold;
}

.deactivated {
    opacity: 0.5;
    margin: 1.5rem 0;
    background: none;
    color: #402a27;
    border: 1px solid #402a27;
    border-radius: 100px;
    outline: none;
    width: 100%;
    padding: 1rem 0;
    font-weight: bold;
}

.form {
    width: 100%;
    margin-top: 1.5rem;
}
.form label > div {
    transition: 0.2s;
    border: 1px solid transparent;
    background: #fff;
    padding: 1rem;
    border-radius: 10px;
}

.focused label > div {
    border-color: #ff7954;
    box-shadow: 0px 12px 40px rgba(230, 208, 201, 0.28);
}
