@import "../../../../../Assets/style/colors.scss";

.container {
    width: 100%;
    min-width: 30vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: #fff;
    border-radius: 20px;
    padding: 2rem;
    h2 {
        width: 100%;
        display: flex;
        margin-top: 0;
        color: $signally-brown;
        span {
            margin-left: 0.5rem;
            color: $signally-orange;
        }
        svg {
            margin-left: auto;
        }
    }
    label {
        font-size: 0.7rem;
        font-weight: 600;
        color: $signally-orange;
        margin-left: 0.15rem;
    }
    input {
        border: 1px solid $signally-grey;
        padding: 1rem;
        border-radius: 10px;
        margin: 0.5rem 0;
        margin-bottom: 1rem;
        outline: none;
        &:focus {
            border-color: $signally-orange;
            box-shadow: 0px 12px 40px rgba(230, 208, 201, 0.28);
        }
    }
    .datePick ~ input {
        margin-bottom: 1.5rem;
    }
    button {
        margin-right: auto;
        margin-left: 0;
        margin-bottom: 0;
        margin-top: 1.5rem;
    }
}

.datePick {
    width: 100%;
    display: flex;
    justify-content: space-between;
    > div {
        width: 48%;
        input {
            transition: border-color 0.3s, box-shadow 0.3s;
            cursor: pointer;
            width: 100%;
            &:hover,
            &:focus-within {
                border-color: $signally-orange;
                box-shadow: 0px 12px 40px rgba(230, 208, 201, 0.28);
            }
        }
    }
}

.currentEventPreview {
    width: 100%;
    img {
        margin: 0 0 1rem 0;
        max-width: 100%;
    }
    + div {
        width: 48%;
    }
}

.eventName {
    margin-top: 1rem;
    width: 100%;
}
