@import '../../../Assets/style/colors';

.container {
    display: flex;
    flex-direction: column;
    form {
        display: flex;
        flex-direction: column;
        > div {
            align-items: center;
            display: flex;
            & ~ input {
                margin-right: auto;
                margin-left: 0;
            }
        }
    }
    label {
        color: $signally-brown;
        font-weight: bold;
        font-size: .85rem;
    }
    .editSocials {
        max-height: 3rem;
        margin-bottom: 3rem;
        svg {
            color: $signally-brown;
            font-size: 1.2rem;
            transition: color .3s;
            &:first-of-type {
                margin-left: 1rem;
            }
            &:hover {
                color: $signally-orange
            }
        }
    }
}

.socialsList {
    list-style: none;
    margin-left: 1rem;
    padding: 0;
    height: 2rem;
    display: flex;

    align-items: center;
    li {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 .25rem;
    }
    li {
        &:last-child {
            height: auto;
            button {
                margin: 0 0 0 1rem;
            }
        }
        &:hover svg{
            transition: color 0.3s, border-color .3s;
            color: $signally-orange;
            border-color: $signally-orange;
        }
        svg {
            height: 2rem;
            width: 2rem;
            font-size: 1.5rem;
            color: $signally-brown;
            border-radius: 50%;
            border: 1px solid $signally-brown;
            background-color: #FFF;
        }
    } 
}
