.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container form > div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container form > div ~ input {
  margin-right: auto;
  margin-left: 0;
}

.container label {
  color: #402927;
  font-weight: bold;
  font-size: .85rem;
}

.container .editSocials {
  max-height: 3rem;
  margin-bottom: 3rem;
}

.container .editSocials svg {
  color: #402927;
  font-size: 1.2rem;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.container .editSocials svg:first-of-type {
  margin-left: 1rem;
}

.container .editSocials svg:hover {
  color: #FF7954;
}

.socialsList {
  list-style: none;
  margin-left: 1rem;
  padding: 0;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socialsList li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 .25rem;
}

.socialsList li:last-child {
  height: auto;
}

.socialsList li:last-child button {
  margin: 0 0 0 1rem;
}

.socialsList li:hover svg {
  -webkit-transition: color 0.3s, border-color .3s;
  transition: color 0.3s, border-color .3s;
  color: #FF7954;
  border-color: #FF7954;
}

.socialsList li svg {
  height: 2rem;
  width: 2rem;
  font-size: 1.5rem;
  color: #402927;
  border-radius: 50%;
  border: 1px solid #402927;
  background-color: #FFF;
}
