.container {
  display: flex;
  flex-direction: column;
}
.container form {
  display: flex;
  flex-direction: column;
}
.container form > div {
  align-items: center;
  display: flex;
}
.container form > div ~ input {
  margin-right: auto;
  margin-left: 0;
}
.container label {
  color: #402927;
  font-weight: bold;
  font-size: 0.85rem;
}
.container .editSocials {
  gap: 1rem;
  max-height: 3rem;
  margin-bottom: 3rem;
}
.container .editSocials li {
  cursor: pointer;
  max-width: 24px;
}
.container .editSocials svg {
  color: #402927;
  font-size: 1.2rem;
  transition: color 0.3s;
}
.container .editSocials svg:first-of-type {
  margin-left: 1rem;
}
.container .editSocials svg:hover {
  color: #ff7954;
}

.socialsList {
  list-style: none;
  margin-left: 1rem;
  padding: 0;
  height: 2rem;
  display: flex;
  align-items: center;
}
.socialsList li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.25rem;
}
.socialsList li:last-child {
  height: auto;
}
.socialsList li:last-child button {
  margin: 0 0 0 1rem;
}
.socialsList li:hover svg {
  transition: color 0.3s, border-color 0.3s;
  color: #ff7954;
  border-color: #ff7954;
}
.socialsList li svg {
  height: 2rem;
  width: 2rem;
  font-size: 1.5rem;
  color: #402927;
  border-radius: 50%;
  border: 1px solid #402927;
  background-color: #fff;
}
