.container {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container p {
  font-size: 0.9rem;
}

.container h2 {
  text-align: center;
  font-size: 1.5rem;
}

.spaceBe {
  height: 70vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.center {
  text-align: center;
}

.imgContainer {
  position: relative;
  margin-top: 5rem;
}

.whiteBackground {
  top: 10%;
  z-index: -1;
  left: 20%;
  position: absolute;
  width: 180px;
  height: 180px;
  background: #fff;
  border-radius: 50%;
}

.btnDiv {
  position: fixed;
  bottom: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.btnDiv .btn {
  position: relative !important;
  bottom: 0;
  width: 100% !important;
}

.btn {
  margin: auto;
  width: 90%;
  position: fixed;
  bottom: 6rem;
  font-family: "Montserrat";
  background: none;
  border: none;
  outline: none;
  left: 0;
  right: 0;
  border-radius: 100px;
  outline: none;
  padding: 1rem 0;
  font-weight: bold;
}

.orangeBtn {
  color: #fff;
  background-color: #ff7954;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0;
}

.header h1 {
  font-size: 1.75rem;
}

.soon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: #f8f2f0;
  padding: 1rem;
  border-radius: 10px;
  color: #66433e;
}

.soon span {
  margin-left: 1rem;
  line-height: 1.75;
  font-size: 0.9rem;
}

.subtitle {
  font-size: 0.9rem;
  width: 100%;
  margin: 1.5rem auto 0 0;
  color: #66433e;
}

.step {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 2rem 0;
}

.step p {
  margin: 0 0 0 3rem;
  font-size: 0.9rem;
  line-height: 1.5rem;
}

.stepNumber {
  position: absolute;
  -webkit-box-flex: 32px;
      -ms-flex: 32px;
          flex: 32px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background: #ffcc20;
}

.stepNumber span {
  width: 32px;
  line-height: 32px;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
}

.tile {
  margin-top: 3rem;
  background: #fff;
  border-radius: 10px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.9rem;
}

.chevron {
  -webkit-filter: brightness(0) saturate(100%);
          filter: brightness(0) saturate(100%);
}

.searchContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.searchContainer img {
  position: absolute;
  top: 40%;
  left: 1rem;
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
}

.searchInput {
  color: #402a27;
  width: 100%;
  font-family: "Montserrat";
  text-indent: 2.5rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding: 0.75rem;
  border-radius: 30px;
  background: #f1e8e7;
  border: 1px solid transparent;
  outline: none;
  margin: 1rem 0;
}

.searchInput:focus {
  background: #fff;
  border: 1px solid #ff7954;
  -webkit-box-shadow: 0px 12px 40px rgba(230, 208, 201, 0.28);
          box-shadow: 0px 12px 40px rgba(230, 208, 201, 0.28);
}

.userCount {
  font-size: 0.8rem;
  margin: 0.5rem 0;
  margin-right: auto;
  color: #66433e;
}

.userSelection {
  width: 100%;
}

.userList {
  padding: 0.5rem;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background: #fff;
  border-radius: 10px;
}

.userList li {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem;
  margin: 0.5rem 0;
}

.userList li label {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 0.9rem;
  color: #66433e;
}

.userList li .checkbox {
  position: absolute;
  top: 20%;
  right: 0;
  width: 100%;
  z-index: 2;
  opacity: 0;
  outline: none;
  cursor: pointer;
}

.userList li .checkbox:focus {
  background: none;
}

.userList li .checkbox:hover {
  background: none;
}

.userList li .checkmark {
  z-index: 1;
  position: absolute;
  top: 20%;
  right: 0;
  border-radius: 50%;
  border: 1px solid #d2c8c6;
  height: 20px;
  width: 20px;
}

.userList li .checkbox:checked ~ .checkmark {
  background-color: #ff7954;
  border: transparent;
}

.greyContainer {
  width: 90%;
  margin: 1rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  border-radius: 10px;
  background: #F8F1F0;
}

.whiteContainer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 12px 40px rgba(230, 208, 201, 0.28);
          box-shadow: 0px 12px 40px rgba(230, 208, 201, 0.28);
  border-radius: 10px;
  padding: 1.5rem;
  padding-bottom: 3.5rem;
  margin-bottom: 2.5rem;
  background: #FFF;
  width: 100%;
}

.whiteContainer h3 {
  margin: 0;
  font-size: 1.2rem;
  color: #FF7954;
}

.whiteContainer h4 {
  line-height: 2;
  margin: 0;
  font-size: 1.3rem;
  color: #66433E;
}

.whiteContainer img {
  position: absolute;
  right: 0;
  top: -1rem;
}

.textContainer span {
  font-size: 0.8rem;
}

.priceContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  position: absolute;
  bottom: -1.6rem;
  max-width: 60%;
  color: #FFF;
  padding: .75rem;
  border-radius: 30px;
  background: #402A27;
}

.priceContainer .price {
  font-size: 1.5rem;
  font-weight: bold;
}

.priceContainer .perMonth {
  margin-left: .5rem;
  font-size: .8rem;
}

.listAdvantages {
  list-style: none;
  margin-top: 0;
}

.listAdvantages li {
  color: #66433E;
  font-weight: 600;
  font-size: .9rem;
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.listAdvantages .listStyle {
  margin-right: .5rem;
}
