/* global.scss */
.container {
  width: 80%;
  height: 90vh;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.container textarea {
  min-width: 45rem;
  min-height: 25rem;
}
.container .editContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
  gap: 0 1rem;
}
.container .editContainer > h1 {
  flex: 100%;
}
.container .editContainer > ul {
  list-style: none;
  padding: 0;
  max-height: 100%;
  overflow: auto;
}
.container .editContainer > ul > li {
  display: flex;
  gap: 0.5rem;
}
.container .editContainer > ul > li > button {
  background-color: transparent;
  cursor: pointer;
  border-radius: var(--hugeRadius);
  height: 2rem;
  width: 2rem;
  font-size: 1rem;
  line-height: 1rem;
  display: flex;
  margin: auto 0;
  justify-content: center;
  align-items: center;
}
