.container {
  width: 90%;
  margin: auto;
  min-height: 90vh;
  padding-top: 5rem;
  padding-bottom: 10rem;
}

.assignedContainer {
  width: 100%;
}

.assignedContainer > div {
  overflow: hidden;
  width: 100%;
  background: #fff;
  -webkit-box-shadow: 0px 12px 40px rgba(230, 208, 201, 0.28);
          box-shadow: 0px 12px 40px rgba(230, 208, 201, 0.28);
  border-radius: 10px;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

.assignedContainer > div > div {
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
}

.previewContainer {
  padding: 1rem;
  margin: .75rem auto;
  background: #FFF;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 350px;
}

.previewContainer img {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: auto;
}

.hr {
  border-bottom: 1px solid #fcf5f4;
  height: 0px;
  width: 100%;
  margin: 1rem auto 2rem;
  position: relative;
  background: none;
  border-top: none;
}

.assignTo {
  font-size: .9rem;
}

.signText * {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.signText p, .signText span {
  font-size: 0.8rem;
}

.orangeTxt {
  color: #FF7954;
}

.teamsList {
  padding: 0.5rem;
  margin: 1rem 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background: #fff;
  border-radius: 10px;
}

.teamsList li {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem;
  margin: 0.5rem 0;
}

.teamsList li label {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 0.9rem;
  color: #66433e;
}

.teamsList li .checkbox {
  position: absolute;
  top: 20%;
  right: 0;
  width: 100%;
  z-index: 2;
  opacity: 0;
  outline: none;
  cursor: pointer;
}

.teamsList li .checkbox:focus {
  background: none;
}

.teamsList li .checkbox:hover {
  background: none;
}

.teamsList li .checkmark {
  z-index: 1;
  position: absolute;
  top: 20%;
  right: 0;
  border-radius: 50%;
  border: 1px solid #d2c8c6;
  height: 20px;
  width: 20px;
}

.teamsList li .checkbox:checked ~ .checkmark {
  background-color: #ff7954;
  border: transparent;
}

.assignedTeams {
  margin-top: -2rem;
  margin-bottom: 2rem;
}

.saveCTA {
  z-index: 2;
  position: fixed;
  border-radius: 100px;
  outline: none;
  width: 90%;
  padding: 1rem 0;
  bottom: 6rem;
  border: none;
  font-family: "Montserrat";
  font-weight: 400;
  background: #fcf5f4;
  border: 1px solid #66433e;
  color: #66433e;
}

.orangeBtn {
  border-color: transparent;
  color: #FFF;
  background: #FF7954;
}

.shadowed {
  -webkit-box-shadow: 0px 12px 40px rgba(230, 208, 201, 0.28);
          box-shadow: 0px 12px 40px rgba(230, 208, 201, 0.28);
}

.userCount {
  opacity: 0.75;
  font-size: .8rem;
  vertical-align: 1px;
  font-weight: normal;
}
