.whiteBg {
  background-color: #fff;
}

.btn {
  background-color: transparent;
  display: flex;
  border: 1px solid;
  text-align: center;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  justify-content: center;
  align-items: center;
  margin: 0.5rem auto;
  padding: 0.5rem 1rem;
  font-size: 0.85rem;
  font-weight: 600;
  border-radius: 5px;
}
.btn * {
  color: inherit;
}

.orange {
  color: #244EFF;
  border-color: #244EFF;
  cursor: pointer;
}
.orange:hover {
  background-color: #244EFF;
  color: #fff;
}
.orange:hover svg {
  stroke: #fff;
}
.orange svg {
  transition: 0.2s;
  margin-left: 0.5rem;
  stroke: #244EFF;
  stroke-width: 1px;
}

.left {
  margin-left: 0 !important;
  margin-right: 0.5rem;
}

.orangeFill {
  color: #fff;
  background-color: #244EFF;
  border-color: #244EFF;
}
.orangeFill:hover {
  background-color: transparent;
  color: #244EFF;
  cursor: pointer;
}
.orangeFill:hover svg {
  stroke: #244EFF;
}
.orangeFill svg {
  transition: 0.2s;
  margin-left: 0.5rem;
  stroke: #fff;
  stroke-width: 1px;
}

.brown {
  color: #1B335E;
  border-color: #1B335E;
}
.brown:hover {
  cursor: pointer;
  background: #1B335E;
  color: #fff;
}
.brown:hover svg {
  stroke: #fff;
}
.brown svg {
  transition: 0.2s;
  margin-left: 0.5rem;
  stroke: #1B335E;
  stroke-width: 1px;
}

.brownFill {
  color: #fff;
  background-color: #1B335E;
  border-color: #1B335E;
}
.brownFill:hover {
  background-color: transparent;
  color: #1B335E;
  cursor: pointer;
}

.white {
  border-color: transparent;
  background-color: #fff;
  cursor: pointer;
}
.white:hover {
  color: #fff;
  background-color: #1B335E;
}

.disabled {
  pointer-events: none;
}

.hidden {
  opacity: 0;
}
