@import "../../assets/style/global";



.btnsContainer {
    display: flex;
    margin-top: 1.25rem;
    align-items: center;
    justify-content: space-around;
    button {
        position: relative;
        margin: 0 0.75rem;
    }
}

.overlay {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%!important;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;
    form {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        input[type="text"] {
            width: 70%;
        }
    }
    > div {
        background: $pureLight;
        box-shadow: 0 0 40px rgba($color-dark-accent, 0.3);
        width: 60%;
        max-height: max-content;
        max-width: 30rem;
        border-radius: $borderRadius;
        position: absolute;
        padding: 1rem 2rem;
        inset: 0;
        z-index: 10;
        margin: auto;
        display: flex;
        flex-direction: column;
        top: -25%;
        align-items: center;
        justify-content: space-evenly;
        h3 {
            margin: 0;
            text-align: center;
        }
    }
}

