.container {
    color: #66433E;
    max-width: 90%;
    padding-top: 7rem;
    padding-bottom: 7rem;
    margin: auto;
    span {
        font-size: 1rem;
    }
    ul {
        margin: 0;
        margin-top: 2rem;
        padding: 0;
        list-style: none;
        li h2 {
            margin-top: 2rem;
            font-size: 1rem;
            font-family: "Montserrat";
            text-indent: 1.5rem;
            position: relative;
        }
        li:not(:last-child) {
            border-bottom: 1px solid rgba(101, 68, 62, 0.14);
        }
    }
}

.active::before, .inactive::before {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    content: " ";
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.active::before {
    background: #4AEE6E;
}

.inactive::before {
    background: #C4C4C4;
}

.previewContainer {
    padding: 1rem;
    margin-bottom: 2rem;
    background: #FFF;
    border-radius: 20px;
    display: flex;
    img {
        padding: 1rem;
        padding-top: 0;
        margin-top: 0;
        margin-bottom: auto;
    }
}

.signText {
    * {
        margin: 0;
        padding: 0;
        line-height: 1.5;
    }
    p, span {
        font-size: 0.8rem;
    }
}

.orangeTxt {
    color: #FF7954;
}

.inactiveSignature {
    opacity: 0.6;
}
