@media screen and (max-width: 680px) {
  .container {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
  .container ul {
    display: list-item;
  }
}

.container {
  color: #66433e;
  max-width: 90%;
  padding-bottom: 3rem;
  margin: auto;
}

.container .span {
  font-size: 1rem;
}

.container ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 3rem;
}

.container ul li,
.container ul li a {
  position: relative;
  color: #66433e;
}

.container ul li h2 {
  margin-top: 2rem;
  font-size: 1rem;
  font-family: "Montserrat";
  text-indent: 1.5rem;
  position: relative;
}

.container ul li a > div {
  overflow: hidden;
  width: 100%;
  background: #fff;
  -webkit-box-shadow: 0px 12px 40px rgba(230, 208, 201, 0.28);
          box-shadow: 0px 12px 40px rgba(230, 208, 201, 0.28);
  border-radius: 10px;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  color: #66433e;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: relative;
  font-weight: 600;
  font-size: 0.9rem;
  padding: 1rem;
}

.container ul li a > div > div {
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
}

.active::before,
.inactive::before {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  content: " ";
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.active::before {
  background: #4aee6e;
}

.inactive::before {
  background: #c4c4c4;
}

.previewContainer {
  padding: 1rem;
  margin-bottom: 2rem;
  background: #fff;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.previewContainer img {
  padding: 1rem;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: auto;
}

.signText * {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.signText p,
.signText span {
  font-size: 0.8rem;
}

.orangeTxt {
  color: #ff7954;
}

.inactiveSignature {
  opacity: 0.6;
}

.onSwipe {
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: absolute;
  z-index: -1;
  -webkit-filter: invert(74%) sepia(58%) saturate(4668%) hue-rotate(325deg) brightness(103%) contrast(105%);
          filter: invert(74%) sepia(58%) saturate(4668%) hue-rotate(325deg) brightness(103%) contrast(105%);
  height: 82%;
  margin-top: auto;
  margin-bottom: 0;
  width: 5rem;
  top: auto;
  right: 0;
  bottom: 0;
  border-radius: 0 10px 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(0, 0, 0, 0.1);
}

.swipeable > div {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.editing + div {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 2;
}

.editing a ~ div {
  z-index: 2;
  background: red;
}

.editing > div {
  margin-left: -5rem !important;
}
