@import "../../Assets/style/colors.scss";

.container {
    width: auto;
    position: relative;
    border: 1px solid $signally-lightgrey;
    border-radius: 10px;
    padding: 0.5rem;
    transition: border-color .3s, box-shadow .3s;
    &:hover {
        border-color: $signally-orange;
    }
    input {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0;
    }
    input[type=file], /* FF, IE7+, chrome (except button) */
    input[type=file]::-webkit-file-upload-button { /* chromes and blink button */
        cursor: pointer; 
    }
    span {
        top: 0;
        line-height: 1.5rem;
        font-size: 0.8rem;
        text-overflow: ellipsis;
        overflow: hidden;
        display: block;
        max-width: 80%;
        margin-left: .5rem;
        white-space: nowrap;
        display: flex;
        align-items: center;
        svg {
            margin-right: 0.5rem;
        }
    }
    svg {
        left: auto;
        right: -1.5rem;
    }
}

.uploadedFile {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    span {
        top: 0;
        font-size: 0.8rem;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    svg {
        right: 0rem;
        top: 0;
        bottom: 0;
        cursor: pointer;
        margin: auto;
        position: absolute;
        z-index: 0;
    }
}
