@import "../../assets/style/global";

.dashboardContainer {
    width: 100%;
    padding: 2rem;
    max-height: 5rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logoContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 3rem;
        a {
            z-index: 5;
        }
    }
}

.landing {
    position: absolute;
    z-index: 1;
    .logoContainer {
        margin-top: 0;
    }
}

.container {
    position: fixed;
    box-sizing: border-box;
    right: 0;
    top: 2rem;
    margin-right: 2rem;
    left: 12rem;
    padding: 1rem 5%;
    z-index: 5;
    border-radius: $borderRadius $borderRadius 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: none;
    backdrop-filter: none;
    h2 {
        font-size: 1.35rem;
        color: $color-dark-accent;
        line-height: 0;
    }
}

.nonLogged {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    li {
        transition: 0.2s;
        font-size: 0.95rem;
        a {
            font-weight: 600;
            margin-right: 1rem;
            padding: 0.25rem 1rem;
            border-radius: $borderRadius;
            font-size: 0.9rem;
            color: $color-dark-accent;
            transition: 0.2s;
        }
        &:last-child a {
            border: 1px solid $color-primary;
            color: $color-primary;
            &:hover {
                border-color: $color-primary;
                background: $color-primary;
                color: #fff;
            }
        }
        &:hover {
            cursor: pointer;
            a {
                color: $color-primary;
            }
        }
    }
}

// .beta {
//     color: #fff;
//     background: $color-dark-accent;
//     border: 1px solid $color-dark-accent;
//     font-weight: bold;
//     font-size: 0.8rem;
//     margin-top: 1rem;
//     border-radius: $smallBorderRadius;
//     padding: 0.25rem 1rem;
// }

.notif {
    position: relative;
    &::before {
        content: "2";
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 15px;
        height: 15px;
        text-align: center;
        background-color: $color-primary;
        color: #fff;
        padding: 2px;
        font-size: 0.8rem;
        right: -9px;
        top: -9px;
        border-radius: $hugeRadius;
        border: 1px solid $color-primary;
    }
}

.pageTitle {
    background: #f5eeef;
    border-radius: $borderRadius $largeBorderRadius 0 0;
    padding: 0.5rem 2rem 1rem;
    margin-left: 3.25rem;
    margin-top: 6rem;
    z-index: 2;
    font-size: 1.2rem;
}

.btnsContainer {
    margin-left: auto;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    border-right: 1px solid $color-dark-accent;
    .studio {
        border: 1px solid $color-primary;
        color: $color-primary;
        &:hover {
            color: #fff;
            background: $color-primary;
        }
    }
    .store {
        border: 1px solid $color-primary;
        color: $color-primary;
        &:hover {
            color: #fff;
            background: $color-primary;
            border-color: $color-primary;
        }
    }
    a {
        font-weight: 600;
        margin-right: 1rem;
        padding: 0.25rem 1rem;
        border: 1px solid $color-dark-accent;
        border-radius: $borderRadius;
        font-size: 0.9rem;
        color: $color-dark-accent;
        transition: 0.2s;
        &:hover {
            color: $color-primary;
            border-color: $color-primary;
        }
    }
}

.searchContainer {
    display: flex;
    width: 100%;
    max-width: 30rem;
    position: relative;
    input {
        border: none;
        background: #fff;
        outline: none;
        border-radius: 25px;
        padding: 1rem;
        text-indent: 2rem;
        width: 100%;
    }
    svg {
        top: 0;
        bottom: 0;
        margin: auto;
        left: 1rem;
        position: absolute;
    }
}

.headerSpan {
    color: $color-primary;
    a {
        color: $color-primary;
        text-decoration: underline;
    }
}

.add {
    cursor: pointer;
    text-align: center;
    width: 25px;
    line-height: 25px;
    height: 25px;
    color: #fff;
    font-size: 26px;
    border-radius: $hugeRadius;
    margin: 0;
    background: $color-primary;
}

.options {
    list-style: none;
    position: fixed;
    right: 1rem;
    top: 2.5rem;
    background: rgba(255, 255, 255, 1);
    padding: 0.5rem 1rem;
    border-radius: $smallBorderRadius;
    box-shadow: 0px 12px 40px rgba(230, 208, 201, 0.8);
    display: flex;
    flex-direction: column;
    li {
        a {
            color: $color-dark-accent;
        }
        font-size: 1rem;
        color: $color-dark-accent;
        font-family: "Trebuchet MS";
        padding: 0.5rem 0;
        &:not(:last-of-type) {
            border-bottom: 1px solid $color-dark-accent;
        }
    }
}

.rightSide {
    position: relative;
    display: flex;
    align-items: center;
}

// .animateMenu {
//     animation: menuSlideOut 0.3s ease forwards;
// }

.nameSize {
    opacity: 0;
    margin-right: 5.5rem;
}

.name {
    display: flex;
    align-items: center;
    position: relative;
    ul {
        z-index: 3;
        background: $outter-background-color;
        padding: 0 1rem;
        border: 1px solid $color-dark-accent;
        border-radius: 15px;
        list-style: none;
        max-height: 1.7rem;
        overflow: hidden;
        margin-right: 1rem;
        position: absolute;
        top: -99%;
        transition: 200ms max-height;

        li:first-child {
            text-align: center;
        }
        li:first-child,
        li:last-child {
            margin-bottom: 0.5rem;
        }
        &:hover {
            // animation: menuSlide 0.2s ease forwards;
            // top: -100%;
            max-height: 10rem;
            box-shadow: 0 15px 24px #3d2b2826;
        }
    }
    > svg {
        &:hover {
            cursor: pointer;
            filter: brightness(0) saturate(100%) invert(74%) sepia(39%)
                saturate(5602%) hue-rotate(324deg) brightness(100%)
                contrast(104%);
        }
    }
    ul > li > a {
        text-transform: uppercase;
        white-space: nowrap;
        font-size: 0.8rem;
        font-weight: 500;
        color: $color-dark-accent;
        transition: 0.2s;
        margin-bottom: 1rem;
    }
    .UserName {
        display: flex;
        color: $color-dark-accent;
        padding-top: 3px;
        align-items: center;
        justify-content: center;
        width: 100%;
        > svg {
            font-size: 0.7rem;
        }
        span {
            text-transform: uppercase;
            font-weight: 600;
            white-space: nowrap;
            font-size: 0.9rem;
            color: $color-dark-accent;
            transition: 0.2s;
            margin-right: 0.5rem;
        }
    }
}


.logout {
    color: $color-primary-variant
}

.reportContainer {
    display: flex;
    flex-direction: column;
    height: 3rem;
    text-align: center;
    width: 7.5rem;
    position: relative;
    > div {
        transition: background-color 0.2s, border-color 0.2s;
        color: $color-dark-accent;
        background: $color-light-accent-variation1;
        border: 1px solid $color-light-accent-variation1;
        font-weight: bold;
        font-size: 0.9rem;
        width: 100%;
        margin: 0;
        margin-top: 1.25rem;
        border-radius: $smallBorderRadius;
        padding: 0.5rem 0.55rem;
        display: flex;
        flex-direction: column;
        &:hover {
            border-color: $color-dark-accent;
            color: #fff;
            background-color: $color-dark-accent;
            button {
                color: #fff;
            }
        }
    }
    button {
        color: $color-dark-accent;
        font-size: 0.6rem;
        margin-top: 0.15rem;
        cursor: pointer;
        border: none;
        background: none;
    }
}

@keyframes menuSlide {
    0%,
    80% {
        top: 0;
        max-height: 1.8rem;
    }
    99% {
        max-height: 5.4rem;
    }
    100% {
        max-height: 6rem;
        top: 29px;
    }
}

@keyframes menuSlideOut {
    0% {
        max-height: 6rem;
        top: 29px;
    }
    1% {
        max-height: 5.4rem;
        top: 29px;
    }
    100% {
        top: 0;
        max-height: 1.75rem;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 680px) {
    .dashboardContainer {
        width: 90%;
        padding-top: 1rem;
    }
    .container {
        top: 0;
        box-shadow: 0px 12px 40px rgba(230, 208, 201, 0.5);
        right: 0;
        left: 0;
        margin-right: 0;
        margin-left: 0;
        width: 100%;
        border-radius: 0px;
        background: rgba($color: #fff, $alpha: 0.5);
        backdrop-filter: blur(5px);
    }
}
