@import "../../../../../assets/style/global";

.inputContainer {
    width: 50%;
    display: inline-flex;
    align-items: center;
    gap: 1rem;
}

.inputWithStyles {
    display: flex;
    width: 100%;
    gap: .25rem;
    align-items: center;
}

.colorSelector {
    font-size: 1.25rem;
    cursor: pointer;
    color: $color-light-accent;
    &:hover {
        color: $color-primary;
    }
}