/* global.scss */
.container hr {
  margin: 2rem 3rem;
  border: none;
  background: none;
  border-bottom: 1px solid;
  opacity: 0.1;
}

.inputsContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.inputsContainer h3 {
  text-transform: capitalize;
  margin: 1.5rem 0 0.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-light-accent);
}
.inputsContainer h3:first-child {
  margin-top: 0;
}
.inputsContainer h4 {
  margin: 0;
  text-transform: capitalize;
}
.inputsContainer > div {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  flex-wrap: wrap;
}
.inputsContainer > div > div {
  max-width: 48%;
}
