.topLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2rem;
  width: 100%;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.topLine button {
  margin-left: auto;
  margin-right: 0;
}

.topLine select {
  outline: none;
}

.topLine svg {
  color: #402927;
}

.topLine svg:hover {
  cursor: pointer;
  color: #FF7954;
}

.topLine form {
  width: 45%;
}

.topLine form select {
  border-color: #FF7954;
  color: #FF7954;
  margin: 0;
  width: 100%;
}

.orangeTxt {
  color: #FF7954;
}

.groupName {
  color: rgba(64, 41, 39, 0.75) !important;
  padding: 0.25rem 0.75rem;
  padding-top: 0.25rem !important;
  border-radius: 20px;
  background-color: rgba(64, 41, 39, 0.08);
  margin-top: 0.5rem;
  font-weight: 600;
  font-size: 0.6rem !important;
}

.signature {
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
  width: 150%;
  margin-bottom: -25%;
  overflow: auto;
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.signature + button {
  position: absolute;
  bottom: 1rem;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.row > div {
  width: 45% !important;
}

.flipcontainer {
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.flip {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.flipcontainer,
.front,
.back {
  min-width: 30rem;
  min-height: 35rem;
  width: 100%;
  height: 100%;
}

/* flip speed goes here */
.flipper {
  -webkit-transition: 0.6s linear;
  transition: 0.6s linear;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  height: 100%;
  max-height: 25rem;
  position: relative;
}

/* hide back of pane during swap */
.front,
.back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-color: #fff;
  border-radius: 20px;
  padding: 2rem;
  margin-bottom: auto;
  position: absolute;
  top: 0;
  left: 0;
}

.front h2,
.back h2 {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  margin-top: 0;
}

.front > div,
.back > div {
  margin-bottom: 1rem;
}

.front .groupName,
.back .groupName {
  font-weight: 600;
}

.front > span,
.back > span {
  color: #402927;
  padding-top: 0.5rem;
  font-size: 0.8rem;
}

.front label,
.back label {
  margin-top: 2rem;
  font-size: 0.9rem;
  margin-bottom: 0.75rem;
  display: block;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.back select {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  /* border: none; */
  border-radius: 10px;
}

.back > button:last-child {
  margin-right: auto;
  margin-left: 0;
}

.entityEdit {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.entityEdit > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.entityEdit > div > div,
.entityEdit > div input {
  width: 48%;
  height: 2rem;
}

.event {
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.event :hover span {
  color: #66433e;
}

.event span {
  width: 0.35rem;
  font-weight: 600;
  text-align: center;
  right: 0;
  left: 0;
  bottom: 0.35rem;
  margin: auto;
  font-size: 0.7rem;
  position: absolute;
}
