.container {
  width: 100%;
  margin: auto;
  min-height: 90vh;
  padding-bottom: 10rem;
}

.container h2 {
  font-size: 1.2rem;
  max-width: 80vw;
  margin: auto;
  text-align: center;
  color: #66433E;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.container h2 a {
  color: #FF7954;
  text-decoration: underline;
}

.noSignature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.assignedContainer > div {
  overflow: hidden;
  width: 100%;
  background: #fff;
  -webkit-box-shadow: 0px 12px 40px rgba(230, 208, 201, 0.28);
          box-shadow: 0px 12px 40px rgba(230, 208, 201, 0.28);
  border-radius: 10px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

.assignedContainer > div > div + div {
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
}

.previewContainer {
  padding: 1rem;
  margin: .75rem auto;
  background: #FFF;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 350px;
}

.previewContainer img {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: auto;
}
