@import "../../../Assets/style/colors.scss";

.dashboardContainer {
    width: 100%;
    padding: 2rem;
    max-height: 5rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logoContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 3rem;
        a {
            z-index: 5;
        }
    }
}

.container {
    position: fixed;
    box-sizing: border-box;
    right: 0;
    top: 2rem;
    margin-right: 2rem;
    left: 12rem;
    padding: 1rem 5%;
    z-index: 5;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: none;
    backdrop-filter: none;
    h2 {
        font-size: 1.35rem;
        color: $signally-brown;
        line-height: 0;
    }
}

.nonLogged {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    li {
        transition: 0.2s;
        font-size: .95rem;
        a {
            transition: 0.2s;
            color: #65443E;
        }
        padding: .5rem 1rem;
        &:hover {
            cursor: pointer;
            a {
                color: #FF7954;
            }
        }
        &:last-child {
            border: 1px solid #65443E;
            border-radius: 100px;
            &:hover {
                cursor: pointer;
                opacity: 1;
                a{
                    color: #FF7954;
                }
                border-color: #FF7954;
            }
        }
    }
}

// .beta {
//     color: #fff;
//     background: $signally-brown;
//     border: 1px solid $signally-brown;
//     font-weight: bold;
//     font-size: 0.8rem;
//     margin-top: 1rem;
//     border-radius: 10px;
//     padding: 0.25rem 1rem;
// }

.notif {
    position: relative;
    &::before {
        content: "2";
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 15px;
        height: 15px;
        text-align: center;
        background-color: $signally-orange;
        color: #fff;
        padding: 2px;
        font-size: 12px;
        right: -9px;
        top: -9px;
        border-radius: 50%;
        border: 1px solid $signally-orange;
    }
}

.pageTitle {
    background: #f5eeef;
    border-radius: 20px 40px 0 0;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    margin-left: 3.25rem;
    margin-top: 6rem;
    z-index: 2;
    font-size: 1.2rem;
}

.btnsContainer {
    margin-left: auto;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    border-right: 1px solid $signally-brown;
    .studio {
        border: 1px solid $signally-orange;
        color: $signally-orange;
        &:hover {
            color: #fff;
            background: $signally-orange;
        }
    }
    .store {
        border: 1px solid #3d2b28;
        color: #3d2b28;
        &:hover {
            color: #fff;
            background: #3d2b28;
            border-color: #3d2b28;
        }
    }
    a {
        font-weight: 600;
        margin-right: 1rem;
        padding: 0.25rem 1rem;
        border: 1px solid $signally-brown;
        border-radius: 20px;
        font-size: 0.9rem;
        color: $signally-brown;
        transition: 0.2s;
        &:hover {
            color: $signally-orange;
            border-color: $signally-orange;
        }
    }
}

.searchContainer {
    display: flex;
    width: 100%;
    max-width: 30rem;
    position: relative;
    input {
        border: none;
        background: #fff;
        outline: none;
        border-radius: 25px;
        padding: 1rem;
        text-indent: 2rem;
        width: 100%;
    }
    svg {
        top: 0;
        bottom: 0;
        margin: auto;
        left: 1rem;
        position: absolute;
    }
}

.headerSpan {
    color: $signally-orange;
    a {
        color: $signally-orange;
        text-decoration: underline;
    }
}

.add {
    cursor: pointer;
    text-align: center;
    width: 25px;
    line-height: 25px;
    height: 25px;
    color: #fff;
    font-size: 26px;
    border-radius: 50%;
    margin: 0;
    background: $signally-orange;
}

.options {
    list-style: none;
    position: fixed;
    right: 1rem;
    top: 2.5rem;
    background: rgba(255, 255, 255, 1);
    padding: 0.5rem 1rem;
    border-radius: 10px;
    box-shadow: 0px 12px 40px rgba(230, 208, 201, 0.8);
    display: flex;
    flex-direction: column;
    li {
        a {
            color: $signally-brown;
        }
        font-size: 1rem;
        color: $signally-brown;
        font-family: "Trebuchet MS";
        padding: 0.5rem 0;
        &:not(:last-of-type) {
            border-bottom: 1px solid $signally-brown;
        }
    }
}

.rightSide {
    position: relative;
    display: flex;
    align-items: center;
}

.animateMenu {
    animation: menuSlideOut 0.3s ease forwards;
}

.name {
    display: flex;
    align-items: center;
    position: relative;
    ul {
        z-index: 3;
        background: #fbf8f7;
        padding: 0;
        padding: 0.05rem 1rem;
        border: 1px solid $signally-brown;
        border-radius: 20px;
        list-style: none;
        max-height: 1.75rem;
        overflow: hidden;
        margin-right: 1rem;
        position: relative;
        transition: 0.2s;
        li:first-child,
        li:last-child {
            margin-bottom: 0.5rem;
        }
        &:hover {
            animation: menuSlide 0.2s ease forwards;
            box-shadow: 0 15px 24px #3d2b2826;
        }
    }
    svg {
        &:hover {
            cursor: pointer;
            filter: brightness(0) saturate(100%) invert(74%) sepia(39%) saturate(5602%) hue-rotate(324deg)
                brightness(100%) contrast(104%);
        }
    }
    ul li a {
        text-transform: uppercase;
        white-space: nowrap;
        font-size: 0.8rem;
        font-weight: 500;
        color: $signally-brown;
        transition: 0.2s;
        margin-bottom: 1rem;
        &:hover {
            color: $signally-orange;
            font-weight: 600;
            border-color: $signally-orange;
        }
    }
    .UserName span {
        text-transform: uppercase;
        font-weight: 600;
        white-space: nowrap;
        font-size: 0.9rem;
        color: $signally-brown;
        transition: 0.2s;
    }
}

.reportContainer {
    display: flex;
    flex-direction: column;
    height: 3rem;
    text-align: center;
    width: 8.25rem;
    position: relative;
    > div {
        transition: background-color 0.2s, border-color 0.2s;
        color: #fff;
        background: $signally-brown;
        border: 1px solid $signally-brown;
        font-weight: bold;
        font-size: 0.9rem;
        width: 100%;
        margin: 0;
        margin-top: 1.25rem;
        border-radius: 10px;
        padding: 0.5rem .55rem;
        display: flex;
        flex-direction: column;
        background: $signally-brown;
        &:hover {
            border-color: $signally-orange;
            background-color: $signally-orange;
        }
    }
    button {
        color: #fff;
        font-size: .6rem;
        margin-top: .15rem;
        cursor: pointer;
        border: none;
        background: none;
    }
}

@keyframes menuSlide {
    0% {
        top: 0;
        max-height: 1.75rem;
    }
    99% {
        max-height: 5.4rem;
    }
    100% {
        max-height: 6rem;
        top: 29px;
    }
}

@keyframes menuSlideOut {
    0% {
        max-height: 6rem;
        top: 29px;
    }
    1% {
        max-height: 5.4rem;
        top: 29px;
    }
    100% {
        top: 0;
        max-height: 1.75rem;
    }
}

@media screen and (max-width: 680px) {
    .dashboardContainer {
        width: 90%;
        padding-top: 1rem;
    }
    .container {
        top: 0;
        box-shadow: 0px 12px 40px rgba(230, 208, 201, 0.5);
        right: 0;
        left: 0;
        margin-right: 0;
        margin-left: 0;
        width: 100%;
        border-radius: 0px;
        background: rgba($color: #fff, $alpha: 0.5);
        backdrop-filter: blur(5px);
    }
}
