.passwordContainer {
    position: relative;
    display: flex;
    > div {
        display: flex;
        align-items: center;
        position: absolute;
        outline: none;
        border: none;
        background: none;
        right: 1rem;
        cursor: pointer;
        top: 0;
        bottom: 0;
        margin: auto;
        padding: 0;
    }
}
