.container {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 6rem;
  padding-bottom: 5rem;
}

.container span {
  color: #66433E;
  font-weight: 600;
}

.container ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

.container ul li {
  padding: 1.5rem 0;
}

.container ul li a {
  font-size: 1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: bold;
  color: #66433E;
}

.container ul li:not(:last-child) {
  border-bottom: 1px solid rgba(101, 68, 62, 0.14);
}

.userInfos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.userInfos * {
  text-align: center;
}

.userInfos .userMail {
  margin-top: 1rem;
  font-size: .9rem;
}

.footer {
  position: fixed;
  bottom: 6rem;
}

.footer span {
  color: #66433E;
  font-size: .9rem;
}

.chevron {
  -webkit-filter: brightness(0) invert(24%) sepia(5%) saturate(4136%) hue-rotate(319deg) brightness(95%) contrast(78%);
          filter: brightness(0) invert(24%) sepia(5%) saturate(4136%) hue-rotate(319deg) brightness(95%) contrast(78%);
}
