.desktop {
    background-color: #e3d8db;
    min-height: 100vh;
    margin: 0;
    padding: 3.5rem;
    .desktopSubcontainer {
        border-radius: 40px;
        display: flex;
        flex-direction: column;
        > div {
            flex: 1;
        }
        background-color: #fcf8f7;
        filter: drop-shadow(16px 0px 40px rgba(0, 0, 0, 0.4));
    }
}

.mainContent {
    margin: 2rem;
    margin-top: 2rem;
    display: flex;
    > ul {
        padding: 5rem;
    }
}

.userInfos {
    width: 100%;
    font-size: 0.9rem;
    text-align: center;
    color: #ff7954;
    p {
        line-height: 0.5rem;
        margin-bottom: 0;
    }
    .capitalize {
        font-weight: bold;
        text-transform: uppercase;
    }
    > img {
        width: 100px;
        border-radius: 50%;
    }
}

.menuContainer {
    display: flex;
    margin: 0 auto;
    margin-right: 3rem;
    max-height: 100vh;
    min-height: 80vh;
    justify-content: center;
    margin-left: 1rem;
    flex-direction: column;
    align-items: center;
}

.dashboardContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 2rem;
    background-color: #f6f1ef;
    border-radius: 20px;
    align-content: flex-start;
    .tilesContainer {
        width: 26vw;
    }
}

.signaturePreview {
    transform: scale(0.8);
    transform-origin: top left;
    margin-right: -3rem;
}

.signatureContainer {
    transition: width 1s;
    display: flex;
    flex-wrap: nowrap;
}

.h1 {
    color: #402a27;
    flex: 100%;
    font-size: 1.75rem;
}

.spacer {
    max-width: 50%;
    min-width: 45%;
}

.eventText {
    margin-top: 1rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    text-indent: 1.5rem;
    position: relative;
    font-weight: 600;
    font-size: 0.9rem;
    padding: 1rem;
    background: #fff;
    border-radius: 10px;
    &::before {
        order: 3;
        content: "";
        width: 100%;
    }
}

.duration {
    font-weight: 400;
    img {
        margin: 0.5rem 0.5rem 0 0.5rem;
    }
}
