.container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    form {
        margin: 0;
        padding: 0;
    }
}

.signaturePreviewList {
    position: fixed;
    z-index: 2;
    top: 0.5rem;
    left: 0;
    display: flex;
    width: 100%;
    height: 11rem;
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
    padding: 0 0.5rem;
    margin: 0;
    list-style: none;
    background: #fdf8f7;
    li {
        position: relative;
        border: 1px solid transparent;
        box-sizing: border-box;
    }
    input:checked + div {
        border: 1px solid #ff7954;
        box-shadow: 0px 2px 5px rgba(230, 208, 201, 0.8);
    }
}

.signInput {
    opacity: 0;
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
}

.previewContainer {
    transform: scale(0.9);
    min-width: 350px;
    padding: 1rem;
    margin-right: auto;
    background: #fff;
    box-shadow: 0px 2px 5px rgba(230, 208, 201, 0.8);
    border-radius: 20px;
    display: flex;
    img {
        padding: 1rem;
        padding-top: 0;
        margin-top: 0;
        margin-bottom: auto;
    }
}

.signText {
    * {
        transition: 0.2s;
        margin: 0;
        padding: 0;
        line-height: 1.5;
    }
    p {
        font-size: 0.8rem;
    }
}

.orangeTxt {
    color: #ff7954;
}

.tabs {
    position: fixed;
    background: #f8f2f0;
    border-radius: 30px;
    margin: auto;
    top: 12rem;
    z-index: 5;
    left: 0;
    right: 0;
    display: flex;
    width: 335px;
    justify-content: space-evenly;
    list-style: none;
    padding: 1.5rem 0;
    li {
        cursor: pointer;
        position: relative;
        font-size: 0.9rem;
        color: #66433e;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        input {
            position: absolute;
            opacity: 0;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
    }
    .tabContainer {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;
    }
    .selectedTab {
        transition: 0.2s;
        padding: 1rem 1rem;
        content: " ";
        z-index: 0;
        position: absolute;
        width: 4rem;
        height: 3rem;
        border-radius: 30px;
        background: #fff;
        box-shadow: 0px 18px 20px rgba(236, 226, 223, 0.44);
    }
}

.tab0 {
    left: -0.75rem;
}

.tab1 {
    left: 3.5rem;
}

.tab2 {
    width: 4.5rem !important;
    left: 7.75rem;
}

.tab3 {
    width: 5.5rem !important;
    left: 12.65rem;
}

/** Tab 1 **/

.inputsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    label {
        color: #402a27 !important;
        font-weight: 400;
        font-size: 0.8rem;
    }
    input {
        transition: 0.2s;
        background: #fff;
        border: 1px solid transparent;
        padding: 1rem;
        border-radius: 10px;
        margin: 0.5rem 0;
        font-family: "Montserrat";
        outline: none;
        &:focus {
            border: 1px solid #ff7954;
            box-shadow: 0px 12px 40px rgba(230, 208, 201, 0.28);
        }
    }
}

.btn {
    position: fixed;
    background: none;
    border: none;
    outline: none;
    bottom: 1rem;
    margin: 0.5rem auto 0;
    left: 0;
    right: 0;
    width: 90%;
    border-radius: 100px;
    outline: none;
    padding: 1rem 0;
    font-weight: bold;
    color: #fff;
    background-color: #ff7954;
}

.inputContainer,
.inputColorSize {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.inputColorSize {
    position: relative;
}

/** Tab 2 **/

.tabContent {
    display: flex;
    width: 90%;
    margin: auto;
    flex-direction: column;
    align-items: center;
    color: #402a27;
    text-align: center;
    padding: 17rem 0 10rem;
    .input,
    .textarea,
    .select {
        font-family: "Montserrat";
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        border: none;
        outline: none;
        background: #fff;
        border-radius: 5px;
        padding: 1rem;
        width: 100%;
        &::placeholder {
            color: #a87069;
        }
        margin-top: 1rem;
        select:focus {
            box-shadow: none;
        }
    }
    textarea {
        width: 100%;
        resize: vertical;
    }
    hr {
        height: 1px;
        background: none;
        width: 100%;
        border: none;
        border-top: 1px solid rgba(101, 68, 62, 0.14);
        margin: 2rem 0;
    }
    label {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }
    .span {
        font-size: 0.9rem;
        text-align: left;
        margin-right: auto;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }
    label {
        margin-right: auto;
        color: #c9847c;
        font-size: 0.75rem;
    }
}

.or {
    margin-left: auto;
    line-height: 2;
}

.selectColor {
    option {
        .color {
            position: relative;
            &::before {
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                position: absolute;
                content: " ";
                width: 15px;
                height: 15px;
                background: #000;
                border-radius: 50%;
            }
        }
    }
}

.select {
    width: 100%;
    border: none;
}

.colorContainer {
    width: 100%;
    position: relative;
    input {
        text-indent: 2rem;
    }
}

.inputOptions {
    position: absolute;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    right: 1rem;
    width: 3.5rem;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.colorPreview {
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.colorPick {
    margin: 1rem auto;
}

/** Tab 3 **/

.optionsContainer {
    list-style: none;
    padding: none;
    width: 100%;
    li {
        display: flex;
        width: 100%;
        align-items: center;
        a {
            line-height: 0;
            margin-top: .5rem;
            margin-right: 1rem;
            color: #67433e;
        }
    }
}

.iconsList {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.lineDrag {
    border-color: #ff7954!important;
    border-style: solid!important;
    border-width: 1px!important;
}

.dragContainer, .dragContainer > div {
    ul {
        padding: 0;
    }
    width: 100%;
}

.imgUploader {
    width: 100%;
    padding-top: 2rem;
}

.iconsContainer {
    margin-top: .5rem;
    width: 100%;
    background: #FFF;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    label:first-of-type {
        font-size: .85rem;
    }
    label {
        margin: 0;
        color: #000!important;
    }
}

.container ol li::marker {
    display: none;
}

/**Switch **/
.switch {
    * {
        -webkit-tap-highlight-color: transparent;
        user-select: none;
        outline: none;
    }
    transform: scale(.6) translateX(30%);
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #ff7954;
}

input:focus + .slider {
    box-shadow: 0 0 1px #ff7954;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/** Drag and drop **/ 
.droppable * {
    user-select: none;
    touch-action: none;
}
