.header {
    max-width: 90%;
    margin:  0 auto 2rem auto;
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & a {
        max-width: 33%;
    }
    img {
        width: 100%;
    }
    ul {
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;
        li {
            transition: 0.2s;
            font-size: .95rem;
            a {
                transition: 0.2s;
                color: #65443E;
            }
            padding: .5rem 1rem;
            &:hover {
                cursor: pointer;
                a {
                    color: #FF7954;
                }
            }
            &:last-child {
                border: 1px solid #65443E;
                border-radius: 100px;
                &:hover {
                    cursor: pointer;
                    opacity: 1;
                    a{
                        color: #FF7954;
                    }
                    border-color: #FF7954;
                }
            }
        }
    }
}

@media screen and(max-width: 1000px) {
    .header li a {
        font-size: 0.85rem;
    }    
}
