@import "../../../../Assets/style/colors.scss";

.container {
    background: #FFF;
    padding: 2rem;
    border-radius: 20px;
    position: relative;
    h4 {
        color: $signally-orange;
        margin-top: 0;
    }
    h3 {
        margin: 0;
    }
    div {
        margin: 1.5rem 0;
        span {
            font-size: .9rem;
        }
    }
    img {
        position: absolute;
        right: -2rem;
        top: -2rem;
        transform: scaleX(-1);
    }
}

.totalPrice {
    border-radius: 100px;
    background: $signally-brown;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    max-width: 9rem;
}