.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  height: 2.5rem !important;
  border-radius: 10px;
  z-index: 10;
  padding: 0.5rem 3rem;
  position: fixed;
  inset: 3rem 0 0 14rem;
  color: #402927;
  font-weight: bold;
  max-width: 50%;
}

.container svg {
  border-radius: 50%;
  padding: 4px;
  fill: #fff;
  font-size: 1.25rem;
}

.container p {
  font-size: 1rem;
  margin: 0;
  margin-right: 0.5rem;
}

.landing {
  top: 2.75rem;
  right: auto;
  bottom: 1.25rem;
  left: 58.5%;
}

@-webkit-keyframes fadeInLeft {
  0% {
    top: .5rem;
    opacity: 0;
  }
  10% {
    top: 3rem;
    opacity: 1;
  }
  80% {
    top: 3rem;
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  0% {
    top: .5rem;
    opacity: 0;
  }
  10% {
    top: 3rem;
    opacity: 1;
  }
  80% {
    top: 3rem;
    opacity: 1;
  }
}

.fadeOut {
  -webkit-animation: fadeOutAnimate 1s forwards ease-out !important;
          animation: fadeOutAnimate 1s forwards ease-out !important;
}

@-webkit-keyframes fadeOutAnimate {
  0% {
    top: 3rem;
    opacity: 1;
  }
  100% {
    top: .5rem;
    opacity: 0;
  }
}

@keyframes fadeOutAnimate {
  0% {
    top: 3rem;
    opacity: 1;
  }
  100% {
    top: .5rem;
    opacity: 0;
  }
}

.valid svg {
  background: green;
}

.invalid {
  -webkit-animation: shakeX 1s forwards ease-in-out;
          animation: shakeX 1s forwards ease-in-out;
}

.invalid svg {
  background: red;
}

@-webkit-keyframes shakeX {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }
}

@keyframes shakeX {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }
}
