.container {
  width: calc(100% - 2rem);
  max-height: 90%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: auto;
  -ms-flex-direction: row;
      flex-direction: row;
}

.container > svg {
  height: auto;
  max-height: 40%;
  width: 100%;
}

.slidesContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 100%;
  width: 100%;
  padding: 1rem;
  height: 100%;
}

.slide > button {
  margin: 0.5rem auto;
  position: relative;
}

.slide p {
  padding: 0;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  font-size: 0.85rem;
  font-weight: 600;
}

.slide input[type="file"] {
  position: absolute;
  opacity: 0;
  top: 0;
  cursor: pointer;
  left: 0;
  width: 100%;
  height: 100%;
}

.space {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 65%;
  margin: auto;
}

.back {
  margin-top: 5rem !important;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.row input {
  max-width: 48%;
}

.btnsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  margin: auto;
  inset: 0;
  top: auto;
  bottom: -1rem;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #402927;
  border: none;
  background: none;
  outline: none;
  margin: auto;
}

.btn:hover {
  cursor: pointer;
  color: #FF7954;
}

.inputsContainer > div {
  margin-bottom: 0.5rem;
}
