.container {
  background: #fff;
  padding: 2rem;
  border-radius: 5px;
}
.container h4 {
  color: #244EFF;
  margin-top: 0;
}
.container table {
  width: 100%;
}
.container table th {
  text-align: left;
  font-size: 0.9rem;
  width: 20%;
}
.container table td {
  font-size: 0.8rem;
}
