@import "../../../Assets/style/colors";

.container {
    background: #fff;
    padding: 2rem;
    border-radius: 20px;
    h4 {
        color: $color-primary;
        margin-top: 0;
    }
    table {
        width: 100%;
        th {
            text-align: left;
            font-size: 0.9rem;
            width: 20%;
        }
        td {
            font-size: 0.8rem;
        }
    }
}
