.container {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  bottom: 0;
  width: 90%;
  padding: 1rem;
  margin: auto;
  background: #F8F2F0AA;
  border-radius: 10px;
}

.container span {
  color: #65443E;
  font-size: .9rem;
}

.container div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container div * {
  vertical-align: middle;
}

.container ul {
  padding: .5rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  width: 70%;
  margin: .5rem auto;
  border-radius: 30px;
  background: #FFF;
}

.container ul li * {
  vertical-align: middle;
}

.blackImg {
  -webkit-filter: contrast(0);
          filter: contrast(0);
}
