.desktop {
  animation: fadeIn 0.5s forwards;
  background-color: #e3d8d8;
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
  display: flex;
}
.desktop .desktopSubcontainer {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
  width: 95%;
  height: 95%;
  position: relative;
  margin: auto;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  background-color: #fbf8f7;
  box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.2);
}
.desktop .desktopSubcontainer > div {
  flex: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.mainContent {
  max-height: 100vh;
  overflow: hidden;
  height: 100%;
  margin: 2rem;
  margin-top: 0;
  display: flex;
}
.mainContent > ul {
  padding: 5rem;
}
.mainContent h5 {
  font-size: 1.2rem;
  margin: 0;
}

.menuContainer {
  display: flex;
  margin: 0 auto;
  opacity: 0;
  animation: fadeIn 1s 0.5s forwards;
  margin-right: 3rem;
  max-height: 100vh;
  min-height: 80vh;
  justify-content: center;
  margin-left: 1rem;
  flex-direction: column;
  align-items: center;
}

.userInfos {
  width: 100%;
  font-size: 0.9rem;
  text-align: center;
  color: #402927;
}
.userInfos p {
  line-height: 0.5rem;
  margin-bottom: 0;
}
.userInfos .capitalize {
  font-weight: bold;
  line-height: 1rem;
  text-transform: uppercase;
}
.userInfos > img {
  max-width: 100px;
  max-height: 100px;
  width: auto;
  height: auto;
}

.dashboardContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-height: 100vh;
  overflow: auto;
  height: 100%;
  padding: 2rem;
  padding-top: 1rem;
  background-color: #f4eeef;
  position: relative;
  border-radius: 20px;
  align-content: flex-start;
  opacity: 0;
  animation: fadeIn 1s 1s forwards;
}
.dashboardContainer h1 {
  flex: 100%;
  color: #402927;
}
.dashboardContainer .tilesContainer {
  width: 26vw;
}
.dashboardContainer > div {
  width: 100%;
  max-height: 100%;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.loading svg {
  animation: rotate 1s infinite ease;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}
